Repository Automattic/newspack-blocks, pull requests merged in 2019-10, with the labels that each got.

#128 Fix article block tag API param
  src/blocks/homepage-articles/edit.js
Labels: [Status] Ready To Merge

#135 Reduce size of smallest type scale options
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#136 Reduce vertical spacing between articles
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#141 Add left/rightblock alignment option to the group block
  src/block-styles/core/group/editor.scss
  src/block-styles/core/group/index.js
  src/setup/block-styles.js
Labels: [Status] Ready To Merge

#98 Article Block: Add image size options
  class-newspack-blocks-api.php
  newspack-blocks.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#142 Add toggle for displaying categories
  class-newspack-blocks-api.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#147 Fix Columns Layout On Tablet With Block Filters
  src/block-styles/core/column/index.js
  src/setup/block-styles.js
Labels: [Status] Ready To Merge

#149 Improves column plus borders behaviour
  src/block-styles/core/columns/view.scss
Labels: [Status] Needs Review

#73 Adds first pass at a 'background image' style for the block.
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#133 Add autocomplete search to article block author/tag/category inputs
  src/blocks/homepage-articles/components/autocomplete-tokenfield.js
  src/blocks/homepage-articles/components/autocomplete-tokenfield.scss
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge

#139 Article Block: Fix issue where has-text-color class was always being applied
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge

#155 Article Blocks: Adjust category styles a bit
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#156 Set up the blocks to be translated, and add a POT file
  languages/newspack-blocks.pot
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/donate/view.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/query-controls/index.js
Labels: [Status] Ready To Merge

#150 Update the Primary Color to use Newspack new blue: `#36f`
  src/blocks/donate/editor.scss
  src/blocks/donate/view.scss
  src/setup/newspack-logo.js
Labels: [Status] Ready To Merge

#157 Add Spanish translations (with a focus on the donation block)
  languages/newspack-blocks-es_ES-newspack-blocks-editor.json
  languages/newspack-blocks-es_ES.mo
  languages/newspack-blocks-es_ES.po
  languages/newspack-blocks.pot
  newspack-blocks.php
  src/blocks/donate/edit.js
Labels: [Status] Ready To Merge

#129 Columns Style: Fix editor preview of column reordering
  src/block-styles/core/columns/editor.scss
Labels: [Status] Ready To Merge

#161 Update the icon of the background image style
  src/blocks/homepage-articles/edit.js
Labels: [Status] Ready To Merge

#160 Add transforms to and from core/latest-posts
  src/blocks/homepage-articles/index.js
Labels: [Initiative] Homepage blocks, [Status] Ready To Merge

#158 Rework Columns Block with a more opinionated styles in our plugin
  src/block-styles/core/columns/view.scss
Labels: [Status] Ready To Merge

#143 Carousel Block
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/carousel/editor.js
  src/blocks/carousel/editor.scss
  src/blocks/carousel/index.js
  src/blocks/carousel/view.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/query-controls/index.js
Labels: [Status] Ready To Merge

#159 Make avatar sizes more consistent on small screens
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#162 Article Block: Reduce vertical spacing within articles
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#175 Article Blocks: Remove bottom border of last item
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#167 Articles Block: Fix position of the caption when using image as background
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#178 Do not overlap the category over the image.
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#179 Increase vertical spacing for columns block when stacked
  src/block-styles/core/columns/view.scss
Labels: [Status] Ready To Merge

#180 Article Block: Add option to not crop the images
  class-newspack-blocks-api.php
  newspack-blocks.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge

#181 Article Block: Make sure categories inherit the article block's custom text colour
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#182 Article Block: Add 'show-category' class when category is displayed
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge

#183 Block List
  block-list.json
  package.json
  webpack.config.js
Labels: [Status] Ready To Merge

#185 Simplify type scale class to reduce CSS.
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#184 Add short version of block CSS class to reduce amount of styles.
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#186 Swap out 'image-scale' class with 'is-'.
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#187 Donation Block: Simplify main donate block selector
  src/blocks/donate/edit.js
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
Labels: [Status] Ready To Merge

#188 Update the donate block view style
  src/blocks/donate/view.scss
Labels: [Status] Ready To Merge
