Repository Automattic/newspack-blocks, pull requests merged in 2019-11, with the labels that each got.

#199 Article Block Height: Add range control for minimum height + top padding (option D)
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge, needs second opinion

#203 Reduce vertical spacing between columns when stacked on mobile.
  src/block-styles/core/columns/view.scss
Labels: [Status] Ready To Merge

#204 Article Block: Tighten up vertical spacing around article excerpt
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#213 Add filter for changing Donate Block HTML
  src/blocks/donate/view.php
Labels: [Status] Ready To Merge

#202 Article Block: Add Co-Author Plus plugin support
  class-newspack-blocks-api.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge

#205 Article Block: Add 'help' text to the minimum height control
  src/blocks/homepage-articles/edit.js
Labels: [Status] Ready To Merge

#214 Add autocomplete search to article block story select
  src/blocks/carousel/edit.js
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/query-controls/index.js
  src/blocks/homepage-articles/view.php
  src/components/autocomplete-tokenfield.js
  src/components/autocomplete-tokenfield.scss
  src/components/query-controls.js
Labels: [Status] Ready To Merge

#216 Make sure images have a max-width on small screens
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#221 Article Block: Add full and wide alignment support 🌟
  src/blocks/homepage-articles/index.js
Labels: [Status] Ready To Merge

#220 Build: add start task to watch and rebuild source
  package.json
Labels: [Status] Ready To Merge, enhancement

#223 Featured Image Settings: Use `format-image` for the Dashicon and move the toggle above the scale so all the toggle buttons are listed one after the other
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
Labels: [Status] Ready To Merge

#224 Add dev centered npm scripts
  README.md
  package.json
Labels: [Status] Ready To Merge

#228 homepage-articles: rename title and descriptions
  languages/newspack-blocks.pot
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
Labels: [Status] Ready To Merge

#229 Extract class/function definitions from plugin entry file
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  newspack-blocks.php
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge

#230 Update block icon to avoid clash with Jetpack Tiled Gallery
  src/blocks/homepage-articles/index.js
Labels: [Status] Ready To Merge

#232 Update Calypso Build to 5.1.0
  class-newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/donate/editor.scss
  src/blocks/donate/view.scss
  src/shared/sass/_legacy_colors.scss
Labels: [Status] Needs Review

#235 Add newspack_blocks_enqueue_view_assets filter
  class-newspack-blocks.php
Labels: [Status] Ready To Merge

#238 Donate Block: Update the colour variables and remove Muriel
  src/blocks/donate/editor.scss
  src/blocks/donate/view.scss
  src/shared/sass/_colors.scss
  src/shared/sass/_legacy_colors.scss
Labels: [Status] Ready To Merge

#236 Make block name and args filterable before registration
  src/blocks/homepage-articles/view.php
Labels: [Status] Needs Review
