Repository Automattic/newspack-blocks, pull requests merged in 2019-12, with the labels that each got.

#231 Use a ButtonGroup and Button for the Featured Image Scale instead of RangeControl
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
Labels: [Status] Ready To Merge, needs second opinion

#234 use `static` instead of `self` in order to make the method extensible
  class-newspack-blocks.php
Labels: [Status] Ready To Merge

#250 Extract Query Builder
  class-newspack-blocks.php
  src/blocks/homepage-articles/view.php
Labels: Refactor, [Status] Ready To Merge

#248 Extract Block Settings
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/view.php
Labels: Refactor, [Status] Ready To Merge

#257 Don't set default alignment.
  class-newspack-blocks.php
Labels: [Status] Ready To Merge

#255 Extract To Templates
  class-newspack-blocks.php
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/templates/articles-list.php
  src/blocks/homepage-articles/templates/articles-loop.php
  src/blocks/homepage-articles/view.php
Labels: Refactor, [Status] Ready To Merge

#242 Add REST endpoint from #226
  newspack-blocks.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
Labels: [Status] Ready To Merge

#260 Bump PHPCS Test Version
  .phpcs.xml.dist
Labels: [Status] Needs Review, [Type] Infrastructure

#259 Read More Button
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge

#261 Article Blocks: Update sanitization for author avatar
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Ready To Merge

#262 Add .nvmrc; use LTS node
  .nvmrc
Labels: [Status] Ready To Merge

#264 Replace apiFetch
  src/blocks/homepage-articles/view.js
Labels: [Status] Needs Review, bug

#267 Show/hide Load more button based on block attribute.
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge, bug

#268 Article Block: Fix issue with author link not working
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge

#269 Fix issue with author avatar link getting stripped out
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Ready To Merge

#271 Fixes for TC's phpcs
  class-newspack-blocks-api.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/templates/articles-list.php
  src/blocks/homepage-articles/templates/articles-loop.php
Labels: Needs Changes or Feedback

#272 nha: add `blocks.transforms_from_name` filter
  src/blocks/homepage-articles/index.js
Labels: [Status] Ready To Merge

#274 Add rest fields only to edit context
  class-newspack-blocks-api.php
Labels: [Status] Ready To Merge, enhancement

#270 Exclude IDs In Load More Posts Endpoint
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
Labels: [Status] Ready To Merge

#278 Handle Post Title As String
  src/blocks/homepage-articles/edit.js
Labels: [Status] Needs Review, bug

#282 Fix Full Width Alignment
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge, bug

#276 NHA: `More…` button improvements
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Ready To Merge

#285 NHA: Add styles to hide `.updated` class
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#263 Add rendered posts' IDs as "Load More" query param
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/view.js
Labels: [Status] Ready To Merge

#287 Fix some issues with image handling
  class-newspack-blocks.php
  newspack-blocks.php
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Ready To Merge

#293 Resolve React Errors
  class-newspack-blocks-api.php
  src/blocks/homepage-articles/edit.js
  src/components/query-controls.js
Labels: [Status] Ready To Merge

#297 Tag Exclusion
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/components/query-controls.js
Labels: [Status] Ready To Merge

#273 Homepage Posts: Correct spacing when floated images are stacked on mobile
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#290 Columns styles: Make sure nested columns don't inherit border styles
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
Labels: [Status] Ready To Merge

#298 Handle Post Subtitle
  newspack-blocks.php
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#296 Load More Script Improvements
  src/blocks/homepage-articles/view.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#294 Clean Up For 289
  src/blocks/homepage-articles/edit.js
Labels: [Status] Ready To Merge

#265 Load More Button: AMP Compatibility
  amp/homepage-articles/view.js
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#312 Fix case-sensitive import
  package-lock.json
  src/blocks/carousel/create-swiper.js
Labels: [Status] Ready To Merge

#300 Homepage Blocks: Fix grid display with and without borders
  src/blocks/homepage-articles/view.scss
Labels: [Status] Ready To Merge

#314 Homepage Posts: Remove dynamic columns limit
  src/blocks/homepage-articles/edit.js
Labels: [Status] Ready To Merge

#307 Homepage Posts: Fix issues with translation
  class-newspack-blocks.php
  languages/newspack-blocks-es_ES-newspack-blocks-editor.json
  languages/newspack-blocks-es_ES.mo
  languages/newspack-blocks-es_ES.po
  languages/newspack-blocks.pot
  src/blocks/homepage-articles/edit.js
Labels: [Status] Ready To Merge
