Repository Automattic/newspack-blocks, pull requests merged in 2020-01, with the labels that each got.

#316 Homepage Posts: Improve Specific Posts UI
  src/components/autocomplete-tokenfield.js
  src/components/autocomplete-tokenfield.scss
  src/components/query-controls.js
Labels: [Block] Homepage Posts, [Status] Ready To Merge, enhancement

#319 Add fsevents as a dependency to enable building on node v.12
  .nvmrc
  package-lock.json
  package.json
Labels: [Status] Ready To Merge

#311 Donate Block: Manual Mode
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/donate/view.php
Labels: [Block] Donate, [Status] Ready To Merge

#291 Set up SCSS and JS linting
  .eslintrc.js
  .stylelintrc
  README.md
  composer.json
  composer.lock
  package-lock.json
  package.json
Labels: [Status] Ready To Merge

#326 Fix JS after linting was set up
  .eslintrc.js
  package-lock.json
  package.json
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/carousel/index.js
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/view.js
  src/components/autocomplete-tokenfield.js
  src/components/query-controls.js
  src/setup/newspack-logo.js
  src/setup/public-path.js
Labels: [Status] Approved

#327 Fix SCSS after linting was set up
  .stylelintrc
  package-lock.json
  package.json
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
  src/block-styles/core/group/editor.scss
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.scss
  src/blocks/donate/editor.scss
  src/blocks/donate/view.scss
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/view.scss
  src/shared/sass/_mixins.scss
  src/shared/sass/_variables.scss
Labels: [Status] Approved

#289 Homepage Posts: Deduplicate posts in editor when there are multiple blocks
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.js
  src/blocks/homepage-articles/store.js
Labels: [Status] Approved

#333 CI: add CircleCI config
  .circleci/config.yml
Labels: [Status] Approved

#325 Columns Block: Remove update block output
  src/block-styles/core/column/index.js
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
  src/setup/block-styles.js
Labels: [Status] Approved

#337 Bump version number
  newspack-blocks.php
Labels: [Status] Approved

#338 Make querySelectorAll loop IE11 compatible
  src/blocks/homepage-articles/view.js
Labels: [Browser] IE11, [Status] Approved, bug

#339 Prevent label collisions when multiple Donate blocks are on the same page
  src/blocks/donate/edit.js
  src/blocks/donate/view.php
Labels: [Status] Approved

#336 CI: fix build on CircleCI
  .circleci/config.yml
  package-lock.json
  package.json
Labels: [Status] Approved

#343 Bump version for release
  newspack-blocks.php
Labels: [Status] Approved

#341 Fix linting errors
  src/block-styles/core/columns/editor.scss
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/view.js
  src/components/query-controls.js
Labels: [Status] Approved

#340 HA: Dumb down handling of exclude_ids
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/view.js
Labels: [Browser] IE11, [Status] Approved, bug

#335 Homepage Posts: Reduce padding for 'image behind' style
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved

#349 Add Campaign field to Donate block
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/donate/view.php
Labels: [Status] Approved

#348 Add a Placeholder align option and align center when loading
  src/blocks/carousel/edit.js
  src/blocks/carousel/editor.scss
  src/blocks/donate/edit.js
  src/blocks/donate/editor.scss
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
  src/shared/sass/_placeholder.scss
Labels: [Status] Approved

#352 Update Version To 1.0.0-alpha.24
  newspack-blocks.php
Labels: [Status] Approved
