Repository Automattic/newspack-blocks, pull requests merged in 2020-04, with the labels that each got.

#426 Add 2 new subscribe patterns
  newspack-blocks-patterns.php
  src/patterns/images/subscribe/style-3.png
  src/patterns/images/subscribe/style-4.png
  src/patterns/markup/subscribe/style-1.json
  src/patterns/markup/subscribe/style-3.json
  src/patterns/markup/subscribe/style-4.json
Labels: [Status] Approved

#427 Update carousel style since AMP 1.5.1
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.scss
Labels: [Status] Approved

#431 Fix patterns sidebar background color since Gutenberg 7.9
  src/patterns/style.scss
Labels: Small PR, [Status] Approved

#432 Release 4/21/2020
  newspack-blocks-patterns.php
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.scss
  src/patterns/images/subscribe/style-3.png
  src/patterns/images/subscribe/style-4.png
  src/patterns/markup/subscribe/style-1.json
  src/patterns/markup/subscribe/style-3.json
  src/patterns/markup/subscribe/style-4.json
  src/patterns/style.scss
Labels: [Status] Approved

#437 Carousel: Use absolute path for style import
  src/blocks/carousel/create-swiper.js
Labels: [Block] Carousel, [Status] Approved, bug

#439 Carousel: Make block name filterable
  src/blocks/carousel/view.php
Labels: [Block] Carousel, [Status] Approved, enhancement

#441 Carousel: Add default class
  src/blocks/carousel/edit.js
Labels: [Block] Carousel, [Status] Approved, enhancement

#444 improvement: make the carousel block args filterable
  src/blocks/carousel/view.php
Labels: [Block] Carousel, [Status] Approved, enhancement

#440 Carousel: Only query posts with thumbnails
  class-newspack-blocks-api.php
  src/blocks/carousel/edit.js
Labels: [Block] Carousel, [Status] Approved, enhancement

#447 refactor: alphabetization
  src/blocks/carousel/edit.js
Labels: [Block] Carousel, [Status] Approved
