Repository Automattic/newspack-blocks, pull requests merged in 2020-02, with the labels that each got.

#354 Add a first pass at German translations to the blocks
  languages/newspack-blocks-de_DE-newspack-blocks-editor.json
  languages/newspack-blocks-de_DE.mo
  languages/newspack-blocks-de_DE.po
Labels: [Status] Approved

#358 Bump version for release
  newspack-blocks.php
Labels: [Status] Approved

#364 Use newer version of xwp-dev-lib
  composer.json
  composer.lock
Labels: [Status] Approved

#372 Correct link on Co-Authors Plus guest authors in the Homepage Posts block
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#373 Homepage Posts: Correct the German translation for 'Load more posts'
  languages/newspack-blocks-de_DE-newspack-blocks-editor.json
  languages/newspack-blocks-de_DE.mo
  languages/newspack-blocks-de_DE.po
Labels: [Status] Approved

#374 Remove Background Color Behind Load More Button in Editor
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
Labels: [Block] Homepage Posts, [Status] Approved, bug

#347 Hide "More" button on private sites
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/utils.js
  src/blocks/homepage-articles/view.php
Labels: [Block] Homepage Posts, [Status] Approved

#378 Add a script to generate translations
  bin/update-translations.sh
  languages/newspack-blocks-de_DE-53e2a1d5945b8d2b1c35e81ae1e532f3.json
  languages/newspack-blocks-de_DE-969286d51bb0afe10983b9aec317b5ee.json
  languages/newspack-blocks-de_DE-d684e5c5ac51934ba20811c2f588e1d5.json
  languages/newspack-blocks-de_DE-fbe7f8c598cf05d4603ba49fec909ded.json
  languages/newspack-blocks-de_DE-newspack-blocks-editor.json
  languages/newspack-blocks-de_DE.mo
  languages/newspack-blocks-de_DE.po
  languages/newspack-blocks-es_ES-53e2a1d5945b8d2b1c35e81ae1e532f3.json
  languages/newspack-blocks-es_ES-969286d51bb0afe10983b9aec317b5ee.json
  languages/newspack-blocks-es_ES-d684e5c5ac51934ba20811c2f588e1d5.json
  languages/newspack-blocks-es_ES-fbe7f8c598cf05d4603ba49fec909ded.json
  languages/newspack-blocks-es_ES-newspack-blocks-editor.json
  languages/newspack-blocks-es_ES.mo
  languages/newspack-blocks-es_ES.po
  languages/newspack-blocks.pot
  package.json
Labels: [Status] Approved

#375 Fix AMP Load More Grid View
  amp/homepage-articles/view.js
Labels: AMP, [Block] Homepage Posts, [Status] Approved, bug

#379 Bump Version To 1.0.0-alpha.26
  newspack-blocks.php
Labels: [Status] Approved

#377 Block Patterns Infrastructure
  .phpcs.xml.dist
  class-newspack-blocks.php
  package-lock.json
  package.json
  src/patterns/index.js
  src/patterns/style.scss
  src/setup/editor.js
Labels: [Status] Approved

#362 Newspack video management proposal & Video Playlist block
  block-list.json
  class-newspack-blocks-api.php
  src/blocks/video-playlist/edit.js
  src/blocks/video-playlist/editor.js
  src/blocks/video-playlist/editor.scss
  src/blocks/video-playlist/index.js
  src/blocks/video-playlist/view.php
Labels: [Status] Approved

#384 Bump version for release
  newspack-blocks.php
Labels: [Status] Approved

#353 CI: semantic-release configuration tweak
  .circleci/config.yml
  package-lock.json
  package.json
Labels: [Status] Approved

#365 Linting: use lint-staged for JS pre-commit linting
  composer.json
  package.json
Labels: [Status] Approved

#386 Remove lexical declaration inside case
  src/blocks/homepage-articles/store.js
Labels: [Status] Needs Review

#388 chore: bump version for release
  newspack-blocks.php
Labels: [Status] Approved
