Repository Automattic/newspack-blocks, pull requests merged in 2020-12, with the labels that each got.

#640 Blog Posts block: Disabling paging in specific mode
  class-newspack-blocks.php
Labels: [Status] Approved, bug

#643 feat: control to select default tab in donate block
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/donate/view.php
Labels: [Block] Donate, [Status] Approved

#642 Add/donate block manual mode without woocommerce
  src/blocks/donate/edit.js
  src/blocks/donate/view.php
Labels: [Status] Approved, [Status] Needs Design Review

#646 Release – Dec. 8
  class-newspack-blocks.php
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/donate/view.php
Labels: [Status] Approved

#648 fix: respect excerpt length attribute in load more display
  class-newspack-blocks.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/templates/articles-loop.php
Labels: [Status] Approved

#651 fix: sanitize post id arrays in includes and excludes
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved

#649 fix(api): fallback to standard if post_format is false
  class-newspack-blocks-api.php
Labels: [Status] Approved

#655 Release – Dec. 15
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/templates/articles-loop.php
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved
