Repository Automattic/newspack-blocks, pull requests merged in 2020-03, with the labels that each got.

#394 Blog Posts Block: Synch editor view and frontend view
  src/blocks/homepage-articles/editor.scss
Labels: [Status] Needs Review

#402 1.0.1 Release
  src/blocks/homepage-articles/editor.scss
Labels: [Status] Approved

#410 feat: update default carousel style for focused elements
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/editor.scss
Labels: [Status] Approved

#387 Add homepage posts, donation, and subscribe patterns
  class-newspack-blocks.php
  newspack-blocks-patterns.php
  newspack-blocks.php
  src/patterns/images/donation/style-1.png
  src/patterns/images/donation/style-2.png
  src/patterns/images/donation/style-3.png
  src/patterns/images/homepage-posts/style-1.png
  src/patterns/images/homepage-posts/style-10.png
  src/patterns/images/homepage-posts/style-11.png
  src/patterns/images/homepage-posts/style-12.png
  src/patterns/images/homepage-posts/style-13.png
  src/patterns/images/homepage-posts/style-14.png
  src/patterns/images/homepage-posts/style-15.png
  src/patterns/images/homepage-posts/style-16.png
  src/patterns/images/homepage-posts/style-17.png
  src/patterns/images/homepage-posts/style-18.png
  src/patterns/images/homepage-posts/style-19.png
  src/patterns/images/homepage-posts/style-2.png
  src/patterns/images/homepage-posts/style-20.png
  src/patterns/images/homepage-posts/style-3.png
  src/patterns/images/homepage-posts/style-4.png
  src/patterns/images/homepage-posts/style-5.png
  src/patterns/images/homepage-posts/style-6.png
  src/patterns/images/homepage-posts/style-7.png
  src/patterns/images/homepage-posts/style-8.png
  src/patterns/images/homepage-posts/style-9.png
  src/patterns/images/subscribe/style-1.png
  src/patterns/images/subscribe/style-2.png
  src/patterns/index.js
  src/patterns/markup/donation/style-1.json
  src/patterns/markup/donation/style-2.json
  src/patterns/markup/donation/style-3.json
  src/patterns/markup/homepage-posts/style-1.json
  src/patterns/markup/homepage-posts/style-10.json
  src/patterns/markup/homepage-posts/style-11.json
  src/patterns/markup/homepage-posts/style-12.json
  src/patterns/markup/homepage-posts/style-13.json
  src/patterns/markup/homepage-posts/style-14.json
  src/patterns/markup/homepage-posts/style-15.json
  src/patterns/markup/homepage-posts/style-16.json
  src/patterns/markup/homepage-posts/style-17.json
  src/patterns/markup/homepage-posts/style-18.json
  src/patterns/markup/homepage-posts/style-19.json
  src/patterns/markup/homepage-posts/style-2.json
  src/patterns/markup/homepage-posts/style-20.json
  src/patterns/markup/homepage-posts/style-3.json
  src/patterns/markup/homepage-posts/style-4.json
  src/patterns/markup/homepage-posts/style-5.json
  src/patterns/markup/homepage-posts/style-6.json
  src/patterns/markup/homepage-posts/style-7.json
  src/patterns/markup/homepage-posts/style-8.json
  src/patterns/markup/homepage-posts/style-9.json
  src/patterns/markup/subscribe/style-1.json
  src/patterns/markup/subscribe/style-2.json
  src/patterns/style.scss
Labels: Needs documentation, [Status] Approved

#415 Fix Double-Encoded Load More URLs
  src/blocks/homepage-articles/view.js
Labels: [Status] Approved, bug

#416 Release 3/17/20
  class-newspack-blocks.php
  newspack-blocks-patterns.php
  newspack-blocks.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/view.js
  src/patterns/images/donation/style-1.png
  src/patterns/images/donation/style-2.png
  src/patterns/images/donation/style-3.png
  src/patterns/images/homepage-posts/style-1.png
  src/patterns/images/homepage-posts/style-10.png
  src/patterns/images/homepage-posts/style-11.png
  src/patterns/images/homepage-posts/style-12.png
  src/patterns/images/homepage-posts/style-13.png
  src/patterns/images/homepage-posts/style-14.png
  src/patterns/images/homepage-posts/style-15.png
  src/patterns/images/homepage-posts/style-16.png
  src/patterns/images/homepage-posts/style-17.png
  src/patterns/images/homepage-posts/style-18.png
  src/patterns/images/homepage-posts/style-19.png
  src/patterns/images/homepage-posts/style-2.png
  src/patterns/images/homepage-posts/style-20.png
  src/patterns/images/homepage-posts/style-3.png
  src/patterns/images/homepage-posts/style-4.png
  src/patterns/images/homepage-posts/style-5.png
  src/patterns/images/homepage-posts/style-6.png
  src/patterns/images/homepage-posts/style-7.png
  src/patterns/images/homepage-posts/style-8.png
  src/patterns/images/homepage-posts/style-9.png
  src/patterns/images/subscribe/style-1.png
  src/patterns/images/subscribe/style-2.png
  src/patterns/index.js
  src/patterns/markup/donation/style-1.json
  src/patterns/markup/donation/style-2.json
  src/patterns/markup/donation/style-3.json
  src/patterns/markup/homepage-posts/style-1.json
  src/patterns/markup/homepage-posts/style-10.json
  src/patterns/markup/homepage-posts/style-11.json
  src/patterns/markup/homepage-posts/style-12.json
  src/patterns/markup/homepage-posts/style-13.json
  src/patterns/markup/homepage-posts/style-14.json
  src/patterns/markup/homepage-posts/style-15.json
  src/patterns/markup/homepage-posts/style-16.json
  src/patterns/markup/homepage-posts/style-17.json
  src/patterns/markup/homepage-posts/style-18.json
  src/patterns/markup/homepage-posts/style-19.json
  src/patterns/markup/homepage-posts/style-2.json
  src/patterns/markup/homepage-posts/style-20.json
  src/patterns/markup/homepage-posts/style-3.json
  src/patterns/markup/homepage-posts/style-4.json
  src/patterns/markup/homepage-posts/style-5.json
  src/patterns/markup/homepage-posts/style-6.json
  src/patterns/markup/homepage-posts/style-7.json
  src/patterns/markup/homepage-posts/style-8.json
  src/patterns/markup/homepage-posts/style-9.json
  src/patterns/markup/subscribe/style-1.json
  src/patterns/markup/subscribe/style-2.json
  src/patterns/style.scss
Labels: [Status] Approved

#418 Display subscribe pattern when Mailchimp is inactive
  newspack-blocks-patterns.php
Labels: [Status] Approved

#413 CI: tweak build script
  package.json
Labels: [Status] Approved

#419 Update the pattern's icon with Newspack logo
  src/patterns/index.js
  src/patterns/style.scss
  src/shared/js/newspack-icon.js
Labels: [Status] Approved

#414 Update donate block style on small screens
  src/blocks/donate/editor.scss
  src/blocks/donate/view.scss
  src/shared/sass/_colors.scss
Labels: [Status] Approved

#421 Pass Block Name To Query Store
  src/blocks/homepage-articles/editor.js
  src/blocks/homepage-articles/store.js
Labels: [Status] Approved

#423 Lint fix
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved

#422 Release 3/24/2020
  newspack-blocks-patterns.php
  package.json
  src/blocks/donate/editor.scss
  src/blocks/donate/view.scss
  src/blocks/homepage-articles/editor.js
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/view.scss
  src/patterns/index.js
  src/patterns/style.scss
  src/shared/js/newspack-icon.js
  src/shared/sass/_colors.scss
Labels: [Status] Approved

#407 Homepage Posts: fix broken author URL on WP.com
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#424 Fix pattern sidebar to match Gutenberg patterns sidebar
  src/patterns/index.js
  src/patterns/style.scss
Labels: [Status] Approved

#425 Release 3/31/2020
  src/blocks/homepage-articles/view.php
  src/patterns/index.js
  src/patterns/style.scss
Labels: [Status] Approved
