Repository Automattic/newspack-blocks, pull requests merged in 2020-07, with the labels that each got.

#549 fix: php notices in gutenberg 8.6.0
  src/blocks/carousel/view.php
  src/blocks/donate/view.php
  src/blocks/homepage-articles/view.php
  src/blocks/video-playlist/view.php
Labels: [Status] Approved, bug

#550 Release: July 22
  src/blocks/carousel/view.php
  src/blocks/donate/view.php
  src/blocks/homepage-articles/view.php
  src/blocks/video-playlist/view.php
Labels: [Status] Approved

#551 refactor: simplify donate block styles
  src/blocks/donate/edit.js
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
Labels: [Status] Approved

#556 feat: experimental title-only specific posts lookup endpoint
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/components/query-controls.js
Labels: [Block] Homepage Posts, [Status] Approved

#557 Release Jul 28
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/donate/edit.js
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
  src/components/query-controls.js
Labels: [Status] Approved

#553 fix: make sure colors aren't overridden in non-NP themes
  src/blocks/carousel/view.scss
Labels: [Status] Approved
