Repository Automattic/newspack-blocks, pull requests merged in 2020-06, with the labels that each got.

#494 Enqueue styles and scripts at render time
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#505 Release - June 2, 2020
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#483 Homepage Posts: make bottom margins less specific for easier overrides on WP.com
  src/blocks/homepage-articles/view.scss
Labels: [Block] Homepage Posts, [Status] Approved

#497 Always display query controls
  src/blocks/homepage-articles/edit.js
Labels: [Status] Approved

#500 Fix: exclude specific posts from other blocks from query
  class-newspack-blocks.php
Labels: [Block] Homepage Posts, [Status] Approved

#514 fix: correct order of arguments in implodes
  class-newspack-blocks.php
Labels: [Status] Approved, bug

#512 fix: don't use main wp_query when rendering homepage posts
  src/blocks/homepage-articles/templates/articles-loop.php
Labels: [Status] Approved, bug

#517 Release 09/06/2020
  class-newspack-blocks.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/articles-loop.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved

#515 fix(homepage-posts): exclude posts already on the page from query
  class-newspack-blocks.php
  src/blocks/homepage-articles/templates/articles-loop.php
Labels: [Block] Homepage Posts, [Status] Approved, [Type] Performance, bug

#524 Release - 6/12/20
  class-newspack-blocks.php
  src/blocks/homepage-articles/templates/articles-loop.php
Labels: [Status] Approved

#529 refactor: replace query global manipulation with hooks
  src/blocks/homepage-articles/templates/articles-loop.php
Labels: [Status] Approved

#499 Improve Homepage Posts block editor performance
  package-lock.json
  package.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.js
  src/shared/sass/_colors.scss
Labels: [Status] Approved

#530 refactor: remove experimental flag for frontend exclusion queries
  class-newspack-blocks.php
  src/blocks/homepage-articles/templates/articles-loop.php
Labels: [Status] Approved

#523 Fix donations wizard link
  src/blocks/donate/edit.js
Labels: Small PR, [Status] Approved

#531 Release 18/06/2020
  class-newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/donate/edit.js
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/templates/articles-loop.php
  src/blocks/homepage-articles/utils.js
  src/shared/sass/_colors.scss
Labels: [Status] Approved

#528 Fallback to author if coauthors fails
  class-newspack-blocks-api.php
  class-newspack-blocks.php
Labels: [Status] Approved, bug

#533 Release 23/06/2020
  class-newspack-blocks-api.php
  class-newspack-blocks.php
Labels: [Status] Approved

#535 feat: editable donate button text
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/donate/view.php
Labels: [Status] Approved

#539 feat: exclude current post in homepage posts block
  class-newspack-blocks.php
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/view.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#540 fix: php warnings, phpcs warnings in donate block
  src/blocks/donate/view.php
Labels: [Status] Approved

#527 fix: make load more button styles more specific
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved

#541 Release 30/06/2020
  class-newspack-blocks.php
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/donate/view.php
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/view.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved
