Repository Automattic/newspack-blocks, pull requests merged in 2020-05, with the labels that each got.

#453 Fix patterns preview thumbnails
  package-lock.json
  package.json
  src/patterns/index.js
  src/patterns/style.scss
Labels: [Status] Approved

#435 Columns styles: Update editor selector for reordering columns
  src/block-styles/core/columns/editor.scss
Labels: [Status] Approved

#454 Use Swiper In Non-AMP Contexts
  class-newspack-blocks-api.php
  package-lock.json
  package.json
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
Labels: Design, [Block] Carousel, [Status] Approved

#455 fix: byline, avatar and date in carousel block
  class-newspack-blocks-api.php
  src/blocks/carousel/edit.js
  src/blocks/homepage-articles/edit.js
  src/shared/js/utils.js
Labels: [Block] Carousel, [Block] Homepage Posts, [Status] Approved

#458 Release 5/05/2020
  class-newspack-blocks-api.php
  package-lock.json
  package.json
  src/block-styles/core/columns/editor.scss
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/edit.js
  src/patterns/index.js
  src/patterns/style.scss
  src/shared/js/utils.js
Labels: [Status] Approved

#462 Carousel: Remove post modified time
  src/blocks/carousel/view.php
Labels: [Block] Carousel, [Status] Approved, bug

#461 fix: carousel image being distorted
  src/blocks/carousel/view.scss
Labels: [Block] Carousel, [Status] Approved

#467 Homepage Posts, Article Carousel: Make sure content options don't affect blocks
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved

#466 Release May 6, 2020
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved

#473 Homepage Posts: Add image shape classes to the front end
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#469 Articles Carousel: Improve accessibility
  package-lock.json
  package.json
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/shared/sass/_mixins.scss
Labels: [Block] Carousel, [Status] Approved, a11y

#476 Articles Carousel: Fix Swiper init for additional blocks
  src/blocks/carousel/edit.js
Labels: [Block] Carousel, [Status] Approved, bug

#479 fix: disallow 0 as post to show value
  src/blocks/carousel/edit.js
Labels: [Block] Carousel, [Status] Approved, bug

#474 Homepage Posts Block: decode entities in categories when shown
  src/blocks/homepage-articles/edit.js
Labels: [Status] Approved

#463 Group Block style: Add border option to group block
  src/block-styles/core/group/editor.scss
  src/block-styles/core/group/index.js
  src/block-styles/core/group/view.scss
  src/block-styles/view.js
Labels: [Status] Approved

#478 Add GH action to manage labels
  .github/workflows/main.yml
Labels: [Status] Approved

#485 refactor: rename articles carousel block->post carousel
  src/blocks/carousel/index.js
Labels: [Block] Carousel, [Status] Approved

#486 Release — May 19, 2020
  .github/workflows/main.yml
  package-lock.json
  package.json
  src/block-styles/core/group/editor.scss
  src/block-styles/core/group/index.js
  src/block-styles/core/group/view.scss
  src/block-styles/view.js
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/carousel/index.js
  src/blocks/carousel/view.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
  src/shared/sass/_mixins.scss
Labels: [Status] Approved

#487 Homepage Posts: add category, tag classes to each article
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Approved
