Repository Automattic/newspack-blocks, pull requests merged in 2021-01, with the labels that each got.

#656 Homepage Posts block: add optional 'continue reading' link underneath excerpts
  class-newspack-blocks.php
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/templates/articles-loop.php
  src/blocks/homepage-articles/view.scss
Labels: Needs documentation, [Status] Approved

#661 feat: custom endpoint for homepage posts in editor
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/homepage-articles/store.js
  src/components/query-controls.js
Labels: Refactor, [Block] Homepage Posts, [Status] Approved

#668 Release Jan 12
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/templates/articles-loop.php
  src/blocks/homepage-articles/view.scss
  src/components/query-controls.js
Labels: [Status] Approved

#663 Feat/cpt picker
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/utils.js
  src/components/query-controls.js
Labels: [Status] Approved

#670 Fix duplicate category names
  src/components/autocomplete-tokenfield.js
  src/components/query-controls.js
Labels: [Status] Approved

#672 fix: load more button functionality
  amp/homepage-articles/view.js
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
Labels: [Status] Approved, bug

#676 Release Jan 19
  amp/homepage-articles/view.js
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/utils.js
  src/components/autocomplete-tokenfield.js
  src/components/query-controls.js
Labels: [Status] Approved

#679 Homepage Posts: Add article class for post types
  class-newspack-blocks.php
Labels: [Status] Approved

#677 refactor: use rest_url to get the /posts route, for Toolkit
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/store.js
Labels: [Status] Approved

#681 fix: in specific posts mode, post order should match input order
  class-newspack-blocks-api.php
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved, bug, regression

#680 fix: carousel block renders authors like homepage articles
  src/blocks/carousel/view.php
Labels: [Block] Carousel, [Status] Approved, bug

#684 Release Jan 28
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved
