Repository Automattic/newspack-blocks, pull requests merged in 2021-09, with the labels that each got.

#854 Donate Block: make 'thank you' text editable
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/donate/view.php
Labels: [Status] Approved

#855 Update wordpress dependencies
  .stylelintrc
  package-lock.json
  package.json
  src/blocks/author-profile/edit.js
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/donate/edit.js
  src/blocks/donate/streamlined.js
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.js
  src/blocks/homepage-articles/view.js
  src/blocks/video-playlist/edit.js
Labels: [Status] Approved

#850 fix: currency symbol handling
  src/blocks/donate/view.scss
Labels: [Status] Approved

#857 fix: show all saved post types in specific posts field
  src/components/query-controls.js
Labels: bug, [Status] Approved

#863 fix: only show category link anchor tags if the category has a link
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
Labels: enhancement, [Status] Approved

#865 Release Sep 08
  .stylelintrc
  package-lock.json
  package.json
  src/blocks/author-profile/edit.js
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.php
  src/blocks/donate/edit.js
  src/blocks/donate/index.js
  src/blocks/donate/streamlined.js
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.js
  src/blocks/homepage-articles/view.js
  src/blocks/video-playlist/edit.js
  src/components/query-controls.js
Labels: [Status] Approved

#866 fix: specify whitespace between author prefix and byline
  src/blocks/homepage-articles/view.php
  src/shared/js/utils.js
Labels: [Status] Approved

#867 Release Sep 09
  src/blocks/homepage-articles/view.php
  src/shared/js/utils.js
Labels: [Status] Needs Review

#869 feat: allow some html in the homepage posts subtitle
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Approved

#868 build: remove webpack public path setting
  src/setup/editor.js
  src/setup/public-path.js
  src/setup/view.js
  webpack.config.js
Labels: [Status] Approved

#875 Disable Jetpack donations when using Newspack donations
  includes/class-newspack-blocks.php
Labels: [Status] Approved, [Block] Donate, Small PR

#872 feat: add a filter on term classes so other plugins can add classes
  includes/class-newspack-blocks.php
Labels: enhancement, [Status] Approved

#878 Release Sep 21
  includes/class-newspack-blocks.php
  src/blocks/homepage-articles/templates/article.php
  src/setup/editor.js
  src/setup/public-path.js
  src/setup/view.js
  webpack.config.js
Labels: [Status] Approved

#874 fix: limit excerpt lengths even for custom excerpts
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/templates/articles-loop.php
Labels: [Status] Approved, [Block] Homepage Posts, User Report

#880 fix: if a post has a custom excerpt, use it
  includes/class-newspack-blocks.php
Labels: bug, [Status] Approved

#882 Release Sep 28
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/templates/articles-loop.php
Labels: [Status] Approved

#883 fix: do not apply the_content filter to homepage post excerpts
  includes/class-newspack-blocks.php
Labels: bug, [Status] Approved

#884 Hotfix release Sep 28
  includes/class-newspack-blocks.php
Labels: [Status] Approved
