Repository Automattic/newspack-blocks, pull requests merged in 2021-07, with the labels that each got.

#785 Homepage Posts: add paragraph markup to excerpt, content placeholders
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved

#786 Homepage Posts: add max width to avatar placeholder
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved

#790 Release Jul 06
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved

#791 Post Carousel: correct path to placeholder image
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved

#792 Post Carousel: Tweak image width styles to not affect avatars
  src/blocks/carousel/view.scss
Labels: [Status] Approved, bug

#794 Override the default :after content from swiper
  src/blocks/carousel/view.scss
Labels: [Block] Carousel, [Status] Approved, bug

#795 fix: height of post carousel blocks in editor preview
  src/blocks/carousel/editor.scss
Labels: [Status] Approved, bug

#797 chore: remove Grunt and related files/references
  .distignore
  Gruntfile.js
  package-lock.json
  package.json
Labels: [Status] Approved, chore

#803 fix/blocks in widget areas
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved

#802 Carousel: Ensure that the swiper arrows don't overlap in RTL
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.scss
Labels: [Block] Carousel, [Status] Approved, bug

#784 feat(donate): streamlined block option
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/edit.js
  src/blocks/donate/editor.scss
  src/blocks/donate/index.js
  src/blocks/donate/streamlined.js
  src/blocks/donate/streamlined.scss
  src/blocks/donate/view.php
  src/shared/sass/_colors.scss
  webpack.config.js
Labels: [Status] Approved

#804 fix(wp-5.8): do not initialize swiper instances if component is hidden
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
Labels: [Status] Approved, bug

#807 fix: allow swiper to reinitialize carousel on attribute changes
  src/blocks/carousel/edit.js
Labels: [Status] Approved, regression

#780 fix(class-newspack-blocks.php): assets meta file path for scripts
  includes/class-newspack-blocks.php
Labels: [Status] Approved

#805 feat/nrh donations handling
  package-lock.json
  package.json
  src/blocks/donate/edit.js
  src/blocks/donate/streamlined.js
  src/blocks/donate/view.php
Labels: [Status] Approved

#811 fix: remove autoload dependency from donation class
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
Labels: [Status] Approved, bug

#813 Release Jul 19
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.scss
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/edit.js
  src/blocks/donate/editor.scss
  src/blocks/donate/index.js
  src/blocks/donate/streamlined.js
  src/blocks/donate/streamlined.scss
  src/blocks/donate/view.php
  src/blocks/homepage-articles/utils.js
  src/shared/sass/_colors.scss
  webpack.config.js
Labels: [Status] Approved

#806 Feat/donate block improvements
  src/assets/stripe-badge.svg
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/streamlined.js
  src/blocks/donate/streamlined.scss
  src/blocks/donate/view.php
Labels: [Status] Approved

#816 Release Jul 27
  src/assets/stripe-badge.svg
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/streamlined.js
  src/blocks/donate/streamlined.scss
  src/blocks/donate/view.php
Labels: [Status] Approved

#817 Update prettier to wp-prettier@2.2.1-beta-1
  package-lock.json
  package.json
  src/blocks/author-profile/edit.js
  src/blocks/carousel/create-swiper.js
  src/blocks/donate/edit.js
  src/blocks/video-playlist/edit.js
  src/components/query-controls.js
  src/shared/js/utils.js
Labels: [Status] Approved

#819 feat: show term classes for Post Carousel blocks
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.php
Labels: [Status] Approved, enhancement
