Repository Automattic/newspack-blocks, pull requests merged in 2021-04, with the labels that each got.

#730 Add new patterns for donation and subscribe
  includes/class-newspack-blocks-patterns.php
  src/block-patterns/donations-3.php
  src/block-patterns/donations-4.php
  src/block-patterns/subscribe-1.php
  src/block-patterns/subscribe-2.php
  src/block-patterns/subscribe-3.php
  src/block-patterns/subscribe-4.php
  src/block-patterns/subscribe-5.php
  src/block-patterns/subscribe-6.php
Labels: [Status] Approved

#725 Deduplication - use same store form Carousel and Homepage Posts blocks; preview post in block previews
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  newspack-blocks.php
  src/assets/newspack-1024x536.jpg
  src/assets/newspack-600x800.jpg
  src/assets/newspack-800x600.jpeg
  src/assets/newspack-800x600.jpg
  src/assets/newspack-800x800.jpg
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/templates/articles-loop.php
  src/blocks/homepage-articles/utils.js
  src/blocks/homepage-articles/view.js
  src/blocks/homepage-articles/view.php
Labels: [Block] Carousel, [Block] Homepage Posts, [Status] Approved

#731 Carousel: handle posts without featured images
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
Labels: [Status] Approved, [Status] Needs Design Review

#736 Release Apr 06
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks-patterns.php
  includes/class-newspack-blocks.php
  newspack-blocks.php
  src/assets/newspack-1024x536.jpg
  src/assets/newspack-600x800.jpg
  src/assets/newspack-800x600.jpeg
  src/assets/newspack-800x600.jpg
  src/assets/newspack-800x800.jpg
  src/block-patterns/donations-3.php
  src/block-patterns/donations-4.php
  src/block-patterns/subscribe-1.php
  src/block-patterns/subscribe-2.php
  src/block-patterns/subscribe-3.php
  src/block-patterns/subscribe-4.php
  src/block-patterns/subscribe-5.php
  src/block-patterns/subscribe-6.php
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/templates/articles-loop.php
  src/blocks/homepage-articles/utils.js
  src/blocks/homepage-articles/view.js
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#724 Update block icons to use Gutenberg style instead of Material
  .gitignore
  package-lock.json
  package.json
  src/blocks/carousel/index.js
  src/blocks/donate/index.js
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/index.js
  src/blocks/video-playlist/index.js
Labels: [Status] Approved

#740 Release Apr 13
  .gitignore
  package-lock.json
  package.json
  src/blocks/carousel/index.js
  src/blocks/donate/index.js
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/index.js
  src/blocks/video-playlist/index.js
Labels: [Status] Needs Review

#746 feat: allow different post types in carousel; plus new block options
  includes/class-newspack-blocks-api.php
  src/blocks/carousel/edit.js
  src/blocks/carousel/index.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Approved
