Repository Automattic/newspack-blocks, pull requests merged in 2021-02, with the labels that each got.

#671 feat: pass attributes to donate block render hook
  src/blocks/donate/view.php
Labels: [Block] Donate, [Status] Approved

#690 Resolve PHPCS issues in newspack-blocks
  .circleci/config.yml
  .phpcs.xml.dist
  README.md
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  composer.json
  newspack-blocks.php
  src/blocks/donate/view.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/view.php
  tests/bootstrap.php
Labels: [Status] Approved

#689 refactor: get specific posts REST endpoint from localized value
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/components/query-controls.js
Labels: [Status] Approved

#693 Release – Jan 5
  .circleci/config.yml
  .phpcs.xml.dist
  README.md
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  composer.json
  newspack-blocks.php
  src/blocks/donate/view.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/view.php
  src/components/query-controls.js
  tests/bootstrap.php
Labels: [Status] Approved

#694 fix: override WooCommerce Memberships excerpt length in block
  class-newspack-blocks.php
Labels: [Status] Approved

#697 Release Feb 09
  class-newspack-blocks.php
Labels: [Status] Approved

#698 feat: add Portuguese translation to the blocks
  languages/newspack-blocks-pt_PT-53e2a1d5945b8d2b1c35e81ae1e532f3.json
  languages/newspack-blocks-pt_PT-969286d51bb0afe10983b9aec317b5ee.json
  languages/newspack-blocks-pt_PT-d684e5c5ac51934ba20811c2f588e1d5.json
  languages/newspack-blocks-pt_PT-fbe7f8c598cf05d4603ba49fec909ded.json
  languages/newspack-blocks-pt_PT.mo
  languages/newspack-blocks-pt_PT.po
Labels: [Status] Approved

#701 refactor: render custom excerpt length server-side
  class-newspack-blocks-api.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved, bug

#702 chore: add phpcs unused variable rule
  .phpcs.xml.dist
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  composer.json
  composer.lock
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
Labels: [Status] Approved, [Type] Infrastructure

#705 Release Feb 16
  .phpcs.xml.dist
  class-newspack-blocks-api.php
  class-newspack-blocks.php
  composer.json
  composer.lock
  languages/newspack-blocks-pt_PT-53e2a1d5945b8d2b1c35e81ae1e532f3.json
  languages/newspack-blocks-pt_PT-969286d51bb0afe10983b9aec317b5ee.json
  languages/newspack-blocks-pt_PT-d684e5c5ac51934ba20811c2f588e1d5.json
  languages/newspack-blocks-pt_PT-fbe7f8c598cf05d4603ba49fec909ded.json
  languages/newspack-blocks-pt_PT.mo
  languages/newspack-blocks-pt_PT.po
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.js
Labels: [Status] Approved

#706 PT Translation: improve Donate block translation
  languages/newspack-blocks-pt_PT-53e2a1d5945b8d2b1c35e81ae1e532f3.json
  languages/newspack-blocks-pt_PT-969286d51bb0afe10983b9aec317b5ee.json
  languages/newspack-blocks-pt_PT-d684e5c5ac51934ba20811c2f588e1d5.json
  languages/newspack-blocks-pt_PT-fbe7f8c598cf05d4603ba49fec909ded.json
  languages/newspack-blocks-pt_PT.mo
  languages/newspack-blocks-pt_PT.po
  languages/newspack-blocks.pot
Labels: [Status] Approved

#708 Release Feb 24
  languages/newspack-blocks-pt_PT-53e2a1d5945b8d2b1c35e81ae1e532f3.json
  languages/newspack-blocks-pt_PT-969286d51bb0afe10983b9aec317b5ee.json
  languages/newspack-blocks-pt_PT-d684e5c5ac51934ba20811c2f588e1d5.json
  languages/newspack-blocks-pt_PT-fbe7f8c598cf05d4603ba49fec909ded.json
  languages/newspack-blocks-pt_PT.mo
  languages/newspack-blocks-pt_PT.po
  languages/newspack-blocks.pot
Labels: [Status] Approved
