Repository Automattic/newspack-blocks, pull requests merged in 2022-12, with the labels that each got.

#1323 feat: handle 'other' reader revenue platform in the editor
  src/blocks/donate/edit/index.tsx
  src/blocks/donate/types.ts
Labels: [Status] Approved, [Block] Donate

#1324 chore: remove unused config file
  postcss.config.js
Labels: [Status] Approved

#1333 fix: allow all img tag attributes in avatar output
  src/templates/author-profile-card.php
Labels: bug, [Status] Approved

#1311 Feat/donate block tiers layout
  includes/class-newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/donate/block.json
  src/blocks/donate/consts.ts
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/edit/components.tsx
  src/blocks/donate/edit/index.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer.php
  src/blocks/donate/streamlined/index.test.js
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/streamlined/utils.ts
  src/blocks/donate/styles/editor.scss
  src/blocks/donate/styles/style-variations.scss
  src/blocks/donate/styles/view.scss
  src/blocks/donate/tiers-based/index.ts
  src/blocks/donate/tiers-based/slider.ts
  src/blocks/donate/tiers-based/style.scss
  src/blocks/donate/tiers-based/types.ts
  src/blocks/donate/tiers-based/utils.ts
  src/blocks/donate/tiers-based/view.test.js
  src/blocks/donate/tiers-based/view.ts
  src/blocks/donate/types.ts
  src/shared/sass/_colors.scss
  src/types/index.d.ts
  webpack.config.js
Labels: [Status] Approved

#1337 feat: unregister Jetpack Subscriptions block to avoid confusion with Newspack blocks
  src/setup/unregister-blocks.js
Labels: [Status] Approved, feature request

#1330 feat(donate): additional fields on the form
  src/blocks/author-list/edit.js
  src/blocks/author-profile/edit.js
  src/blocks/donate/block.json
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/components/AdditionalFields.tsx
  src/blocks/donate/edit/components/AmountValueInput.tsx
  src/blocks/donate/edit/components/index.tsx
  src/blocks/donate/edit/index.tsx
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/blocks/donate/streamlined/index.test.js
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/styles/editor.scss
  src/blocks/donate/types.ts
  src/blocks/homepage-articles/utils.ts
  src/components/editor-panels.js
  src/shared/js/utils.js
Labels: [Status] Approved, Needs Changes or Feedback
