Repository Automattic/newspack-blocks, pull requests merged in 2022-02, with the labels that each got.

#1041 Release Feb 08
  .circleci/config.yml
  .distignore
  CHANGELOG.md
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1045 fix(NextGen Gallery): disable ngg shortcode manager
  includes/class-newspack-blocks.php
Labels: [Status] Approved

#1035 Add/stripe payment request button
  .distignore
  __mocks__/@stripe/stripe-js/pure/index.js
  package-lock.json
  package.json
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/edit.js
  src/blocks/donate/editor.scss
  src/blocks/donate/streamlined.js
  src/blocks/donate/streamlined/index.js
  src/blocks/donate/streamlined/index.test.js
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/streamlined/utils.js
  src/blocks/donate/streamlined/utils.test.js
  src/blocks/donate/view.php
Labels: [Status] Approved, [Status] Needs Design Review

#1049 Release Feb 22
  CHANGELOG.md
  composer.lock
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/carousel/view.scss
Labels: [Status] Needs Review

#1050 iFrame Block: Add alignment classes and update options
  src/blocks/iframe/index.js
  src/blocks/iframe/view.php
Labels: [Status] Approved

#1052 ci: use newspack orb
  .circleci/config.yml
Labels: [Status] Approved
