Repository Automattic/newspack-blocks, pull requests merged in 2022-07, with the labels that each got.

#1188 fix: guest author selection in Author Profile block
  package-lock.json
  package.json
  src/blocks/author-profile/edit.js
  src/blocks/author-profile/editor.scss
Labels: bug, [Status] Approved

#1199 fix: resolve merge conflict with release
  CHANGELOG.md
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/author-profile/edit.js
  src/blocks/author-profile/editor.scss
Labels: [Status] Approved, chore

#1170 feat: homepage posts patterns with ad unit
  includes/class-newspack-blocks-patterns.php
  includes/class-newspack-blocks.php
  newspack-blocks.php
  src/block-patterns/homepage-posts-14.php
  src/block-patterns/homepage-posts-2.php
  src/block-patterns/homepage-posts-26.php
  src/block-patterns/homepage-posts-31.php
  src/block-patterns/homepage-posts-7.php
  src/setup/editor.scss
  src/setup/placeholder-blocks.js
  webpack.config.js
Labels: [Status] Approved

#1191 Donate Block – amounts and frequencies customisation
  includes/class-newspack-blocks-patterns.php
  includes/class-newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/donate/block.json
  src/blocks/donate/edit.js
  src/blocks/donate/edit.tsx
  src/blocks/donate/editor.scss
  src/blocks/donate/index.js
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
  src/types/@wordpress/block-editor.d.ts
  src/types/@wordpress/components.d.ts
  src/types/index.d.ts
  src/types/newspack-components.d.ts
Labels: [Status] Approved

#1174 chore(deps): update newspack-scripts
  package-lock.json
  package.json
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
  src/block-styles/core/group/editor.scss
  src/block-styles/core/group/view.scss
  src/blocks/author-list/editor.scss
  src/blocks/author-profile/editor.scss
  src/blocks/author-profile/view.scss
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.scss
  src/blocks/donate/editor.scss
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/view.scss
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.scss
  src/blocks/iframe/edit.js
  src/blocks/iframe/editor.scss
  src/blocks/video-playlist/editor.scss
  src/setup/editor.scss
  src/shared/sass/_mixins.scss
Labels: [Status] Approved

#1156 feat: support new sponsor options to show authors and categories
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  src/blocks/carousel/edit.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved, [Status] Needs Design Review

#1200 Donate Block: button color; remove Stripe badge
  includes/class-newspack-blocks.php
  src/assets/stripe-badge.svg
  src/blocks/donate/block.json
  src/blocks/donate/edit.tsx
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/types.d.ts
  src/blocks/donate/utils.ts
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
  src/types/index.d.ts
Labels: [Status] Approved

#1216 Release Jul 25
  CHANGELOG.md
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks-patterns.php
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/block-patterns/homepage-posts-14.php
  src/block-patterns/homepage-posts-2.php
  src/block-patterns/homepage-posts-26.php
  src/block-patterns/homepage-posts-31.php
  src/block-patterns/homepage-posts-7.php
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
  src/block-styles/core/group/editor.scss
  src/block-styles/core/group/view.scss
  src/blocks/author-list/editor.scss
  src/blocks/author-profile/editor.scss
  src/blocks/author-profile/view.scss
  src/blocks/carousel/edit.js
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/donate/block.json
  src/blocks/donate/edit.js
  src/blocks/donate/edit.tsx
  src/blocks/donate/editor.scss
  src/blocks/donate/index.js
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.scss
  src/blocks/iframe/edit.js
  src/blocks/iframe/editor.scss
  src/blocks/video-playlist/editor.scss
  src/setup/editor.scss
  src/setup/placeholder-blocks.js
  src/shared/sass/_mixins.scss
  src/types/@wordpress/block-editor.d.ts
  src/types/@wordpress/components.d.ts
  src/types/index.d.ts
  src/types/newspack-components.d.ts
  webpack.config.js
Labels: [Status] Approved

#1201 Donate block – mobile style; UX tweaks
  package-lock.json
  package.json
  src/blocks/donate/edit.tsx
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/streamlined/utils.ts
  src/blocks/donate/types.d.ts
  src/blocks/donate/utils.ts
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
  tsconfig.json
Labels: [Status] Approved, Reader Activation

#1218 fix(donate-block): handle default frequency from attributes
  src/blocks/donate/view.php
Labels: [Status] Approved
