Repository Automattic/newspack-blocks, pull requests merged in 2022-08, with the labels that each got.

#1219 Feat/customise donate button streamlined
  src/blocks/donate/block.json
  src/blocks/donate/edit.tsx
  src/blocks/donate/editor.scss
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/streamlined/utils.ts
  src/blocks/donate/view.php
Labels: [Status] Approved, Reader Activation

#1223 feat(donate): add current_page_url to client metadata
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
Labels: [Status] Approved, Reader Activation

#1234 feat: use reCaptcha v3 to secure Stripe donate forms
  includes/class-newspack-blocks.php
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/streamlined/index.js
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/streamlined/utils.js
  src/blocks/donate/view.php
Labels: enhancement, [Status] Approved

#1236 feat(donate): refresh reader authentication
  src/blocks/donate/streamlined/index.ts
  src/types/index.d.ts
Labels: [Status] Approved, Reader Activation

#1227 fix: ensure amount is always defined for totalAmount calculation
  src/blocks/donate/streamlined/utils.ts
Labels: [Status] Approved, [Block] Donate, [Type] Bug

#1154 fix: disambiguate users and guest authors in Author List exclusions
  src/blocks/author-list/class-wp-rest-newspack-author-list-controller.php
  src/blocks/author-list/edit.js
  src/blocks/author-list/view.php
Labels: bug, [Status] Approved

#1243 Release Aug 16
  CHANGELOG.md
  composer.lock
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/assets/stripe-badge.svg
  src/blocks/donate/block.json
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/edit.tsx
  src/blocks/donate/editor.scss
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/streamlined/utils.ts
  src/blocks/donate/types.d.ts
  src/blocks/donate/utils.ts
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
  src/types/index.d.ts
  tsconfig.json
Labels: [Status] Approved

#1239 feat: handle minimum donation option in Donate block
  src/blocks/donate/block.json
  src/blocks/donate/edit.tsx
  src/blocks/donate/editor.scss
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/streamlined/utils.ts
  src/blocks/donate/types.d.ts
  src/blocks/donate/view.php
Labels: enhancement, [Status] Approved

#1247 Homepage Posts Block: Re-add excerpt length preview in editor
  includes/class-newspack-blocks-api.php
Labels: [Status] Approved

#1244 refactor: handle reCAPTCHA settings and methods move to RAS
  includes/class-newspack-blocks.php
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/view.php
Labels: [Status] Approved, Refactor

#1252 Homepage Posts block: make sure More button inherits styles
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#1255 fix(donate): use first & last name as default name
  src/blocks/donate/view.php
Labels: [Status] Needs Review, Reader Activation

#1248 fix(donate): default value not below minimum donation
  src/blocks/donate/view.php
Labels: [Status] Approved

#1253 feat: if donation via a prompt, add prompt ID to Stripe payment metadata
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/streamlined/index.test.js
  src/blocks/donate/streamlined/index.ts
Labels: enhancement, [Status] Approved

#1258 fix: correct Donate thank you message alignment
  src/blocks/donate/view.scss
Labels: [Status] Approved

#1245 Homepage Posts: fix column spacing and add control
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved
