Repository Automattic/newspack-blocks, pull requests merged in 2022-04, with the labels that each got.

#1087 fix: incorrect nesting of tax_query args
  includes/class-newspack-blocks.php
Labels: [Status] Approved, [Type] Bug

#1089 Release Apr 05
  CHANGELOG.md
  composer.lock
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/author-list/class-wp-rest-newspack-author-list-controller.php
  src/blocks/author-profile/class-wp-rest-newspack-authors-controller.php
  src/blocks/donate/edit.js
  src/blocks/donate/editor.scss
  src/blocks/donate/index.js
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.js
  src/components/query-controls.js
Labels: [Status] Approved

#1090 fix(posts-query): specific posts getting
  CHANGELOG.md
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/homepage-articles/block.json
  src/components/query-controls.js
Labels: [Status] Approved

#1093 fix: restore post__in sort order for specific posts mode
  CHANGELOG.md
  includes/class-newspack-blocks-api.php
  newspack-blocks.php
  package-lock.json
  package.json
Labels: bug, [Status] Approved

#1091 Add 3 new subscribe patterns
  includes/class-newspack-blocks-patterns.php
  src/block-patterns/subscribe-7.php
  src/block-patterns/subscribe-8.php
  src/block-patterns/subscribe-9.php
Labels: [Status] Approved

#1102 feat: publish on npm when releasing
  .distignore
  .npmignore
  .npmrc
  .travis.yml
  package-lock.json
  package.json
Labels: [Status] Approved

#1096 feat(donate): handle woocommerce-memberships
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
Labels: [Status] Approved

#1105 Release Apr 18
  .distignore
  .npmignore
  .npmrc
  .travis.yml
  CHANGELOG.md
  includes/class-newspack-blocks-patterns.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/block-patterns/subscribe-7.php
  src/block-patterns/subscribe-8.php
  src/block-patterns/subscribe-9.php
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/streamlined/index.test.js
Labels: [Status] Approved

#1107 chore: add wp-polyfill to view scripts
  includes/class-newspack-blocks.php
Labels: [Status] Approved
