Repository Automattic/newspack-blocks, pull requests merged in 2022-01, with the labels that each got.

#984 chore(deps): implement dependabot auto-merge
  .github/workflows/auto-merge.yml
Labels: [Status] Approved, dependencies

#1001 Release Jan 04
  CHANGELOG.md
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/carousel/view.php
Labels: [Status] Approved

#985 feat(donate-stripe): hide fee checkbox if fees are zero
  src/blocks/donate/streamlined.js
  src/blocks/donate/streamlined.test.js
  src/blocks/donate/view.php
Labels: [Status] Approved

#1002 chore: update post-release job to pull changelog and semver changes to master
  .circleci/config.yml
  CHANGELOG.md
Labels: [Status] Approved

#983 Post Carousel: add simplified CSS class to carousel to reduce style size
  src/blocks/carousel/edit.js
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
Labels: [Status] Approved

#949 Add/embed pdf
  includes/class-newspack-blocks.php
  src/blocks/iframe/block.json
  src/blocks/iframe/class-wp-rest-newspack-iframe-controller.php
  src/blocks/iframe/edit.js
  src/blocks/iframe/iframe-placeholder.js
  src/blocks/iframe/view.php
Labels: [Status] Approved

#1006 chore: use newspack-scripts
  .circleci/config.yml
  .eslintrc.js
  package-lock.json
  package.json
  src/blocks/donate/editor.scss
  src/blocks/donate/streamlined.scss
  src/blocks/homepage-articles/view.scss
  webpack.config.js
Labels: [Status] Approved, dependencies

#1010 fix: lint errors
  src/blocks/author-list/class-wp-rest-newspack-author-list-controller.php
  src/blocks/author-list/edit.js
  src/blocks/author-list/view.php
  src/blocks/author-profile/edit.js
Labels: [Status] Approved, chore

#1011 fix: add Author List block to manifest of blocks to build in production
  block-list.json
Labels: bug, [Status] Approved

#1015 fix(author-list): user query when CAP is not installed
  src/blocks/author-list/class-wp-rest-newspack-author-list-controller.php
Labels: bug, [Status] Approved

#1005 chore: add CODEOWNERS file
  .github/CODEOWNERS
Labels: [Status] Approved

#1017 Update Subscribe patterns for WordPress 5.9
  src/block-patterns/subscribe-2.php
  src/block-patterns/subscribe-3.php
Labels: [Status] Approved

#1020 Update Column Block styles for WordPress 5.9.
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
Labels: [Status] Approved, wp 5.9

#1022 Re-add column vertical spacing
  src/block-styles/core/columns/view.scss
Labels: [Status] Approved

#1025 Post-release 1/19/2022
  CHANGELOG.md
  newspack-blocks.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1004 fix(video-playlist): youtube embeds fetching
  src/blocks/video-playlist/view.php
Labels: [Status] Approved

#1027 fix: newspack-scripts usage
  .circleci/config.yml
  .stylelintrc
  babel.config.js
  composer.json
  package-lock.json
  package.json
  src/setupTests.js
Labels: [Status] Approved

#1031 Release Jan 25
  .circleci/config.yml
  .stylelintrc
  CHANGELOG.md
  babel.config.js
  composer.json
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/video-playlist/view.php
  src/setupTests.js
Labels: [Status] Approved

#1026 fix: handle unavailable Newspack plugin
  .distignore
  includes/class-newspack-blocks.php
Labels: [Status] Needs Review

#1032 ci: fix post-release flow
  .circleci/config.yml
Labels: [Status] Needs Review, [Status] Approved

#1033 fix(carousel): width issues
  src/blocks/carousel/view.scss
Labels: [Status] Approved
