Repository Automattic/newspack-blocks, pull requests merged in 2022-03, with the labels that each got.

#1056 fix: handle inactive newspack-popups
  src/blocks/donate/streamlined/utils.js
Labels: [Status] Approved

#1062 Release Mar 08
  .distignore
  CHANGELOG.md
  __mocks__/@stripe/stripe-js/pure/index.js
  composer.lock
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/edit.js
  src/blocks/donate/editor.scss
  src/blocks/donate/streamlined.js
  src/blocks/donate/streamlined/index.js
  src/blocks/donate/streamlined/index.test.js
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/streamlined/utils.js
  src/blocks/donate/streamlined/utils.test.js
  src/blocks/donate/view.php
Labels: [Status] Approved

#1064 fix: update listings class name to match after refactor
  includes/class-newspack-blocks-api.php
Labels: [Status] Approved, Refactor

#1066 fix(homepage-posts): post fetch for widget blocks
  package-lock.json
  package.json
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.js
Labels: bug, [Status] Approved

#1057 fix(author-list): handle alphabetizing last names containing spaces
  src/blocks/author-list/class-wp-rest-newspack-author-list-controller.php
Labels: bug, [Status] Approved

#1068 Add alternate and minimal styles to donate block
  src/blocks/donate/edit.js
  src/blocks/donate/editor.scss
  src/blocks/donate/index.js
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/view.php
  src/blocks/donate/view.scss
Labels: [Status] Approved

#1078 fix: donate block non-default styles grid breakpoint
  src/blocks/donate/view.scss
Labels: [Status] Approved

#1083 fix: authors and guest authors in homepage posts
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  src/blocks/author-profile/class-wp-rest-newspack-authors-controller.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/utils.js
  src/components/query-controls.js
Labels: [Status] Approved
