Repository Automattic/newspack-blocks, pull requests merged in 2022-05, with the labels that each got.

#1118 Homepage Posts & Carousel blocks: Improve alt text on images linked to posts
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Approved

#1117 Donate block: make possible to navigate via keyboard
  src/blocks/donate/view.scss
Labels: [Status] Approved

#1114 Fix/post statuses in query
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  src/blocks/carousel/edit.js
  src/blocks/carousel/index.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.js
  src/blocks/homepage-articles/view.scss
  src/components/editor-panels.js
  src/shared/js/utils.js
  src/shared/sass/_preview.scss
Labels: [Status] Approved, [Status] Needs Design Review

#1137 Release May 17
  CHANGELOG.md
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/carousel/view.php
  src/blocks/donate/view.scss
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Approved

#1140 chore: linting fixes
  package.json
  src/blocks/homepage-articles/edit.js
  src/blocks/iframe/edit.js
  src/setup/newspack-logo.js
  src/shared/js/newspack-icon.js
  src/shared/js/utils.js
Labels: [Status] Approved

#950 Configure and introduce TypeScript
  .circleci/config.yml
  .gitignore
  package-lock.json
  package.json
  src/blocks/homepage-articles/utils.ts
  src/components/query-controls.js
  src/types/index.ts
  tsconfig.json
Labels: [Status] Approved

#1142 Add new subscribe pattern
  includes/class-newspack-blocks-patterns.php
  src/block-patterns/subscribe-10.php
Labels: [Status] Approved

#1146 Release May 30
  CHANGELOG.md
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/carousel/edit.js
  src/blocks/carousel/index.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.js
  src/blocks/homepage-articles/view.scss
  src/components/editor-panels.js
  src/shared/js/utils.js
  src/shared/sass/_preview.scss
Labels: [Status] Approved

#1139 feat: remove support for the aside post format
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.ts
Labels: [Status] Needs Review

#1152 Sponsors plugin integration: echo closing link tags on sponsor bylines
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Approved

#1143 fix: disambiguate WP users vs. guest authors with same ID
  src/blocks/author-list/class-wp-rest-newspack-author-list-controller.php
  src/blocks/author-list/edit.js
  src/blocks/author-profile/block.json
  src/blocks/author-profile/class-wp-rest-newspack-authors-controller.php
  src/blocks/author-profile/edit.js
  src/blocks/author-profile/view.php
Labels: bug, [Status] Approved
