Repository Automattic/newspack-blocks, pull requests merged in 2023-01, with the labels that each got.

#1336 HPB: fix author query if CAP is unavailable
  .gitignore
  includes/class-newspack-blocks.php
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/iframe/class-wp-rest-newspack-iframe-controller.php
  src/components/query-controls.js
  tests/bootstrap.php
  tests/test-homepage-posts-block.php
  tests/test-sample.php
  tests/wp-unittestcase-blocks.php
Labels: [Status] Approved

#1339 fix: make sure correct avatar is loaded when guests and users share IDs
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
Labels: [Status] Approved

#1322 HPB: filter image sizes based on the maximum image width
  includes/class-newspack-blocks.php
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved, Performance

#1342 Release Jan 09
  CHANGELOG.md
  composer.lock
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  postcss.config.js
  src/blocks/author-list/edit.js
  src/blocks/author-profile/edit.js
  src/blocks/donate/block.json
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/consts.ts
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/edit/components/AdditionalFields.tsx
  src/blocks/donate/edit/components/AmountValueInput.tsx
  src/blocks/donate/edit/components/index.tsx
  src/blocks/donate/edit/index.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer.php
  src/blocks/donate/streamlined/index.test.js
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/streamlined/utils.ts
  src/blocks/donate/styles/editor.scss
  src/blocks/donate/styles/style-variations.scss
  src/blocks/donate/styles/view.scss
  src/blocks/donate/tiers-based/index.ts
  src/blocks/donate/tiers-based/slider.ts
  src/blocks/donate/tiers-based/style.scss
  src/blocks/donate/tiers-based/types.ts
  src/blocks/donate/tiers-based/utils.ts
  src/blocks/donate/tiers-based/view.test.js
  src/blocks/donate/tiers-based/view.ts
  src/blocks/donate/types.ts
  src/blocks/homepage-articles/utils.ts
  src/components/editor-panels.js
  src/setup/unregister-blocks.js
  src/shared/js/utils.js
  src/shared/sass/_colors.scss
  src/templates/author-profile-card.php
  src/types/index.d.ts
  webpack.config.js
Labels: [Status] Approved

#1345 fix: use release version number instead of filemtime for JS asset versions
  CHANGELOG.md
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer.php
Labels: bug, [Status] Approved

#1344 Fix/initialise stripe only if visible
  package-lock.json
  package.json
  src/blocks/donate/streamlined/index.ts
Labels: [Status] Approved, [Block] Donate

#1343 fix: make author block font sizing more specific
  src/blocks/author-profile/editor.scss
  src/blocks/author-profile/view.scss
Labels: [Status] Approved

#1347 Alpha release Jan 13
  .gitignore
  composer.lock
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/author-profile/editor.scss
  src/blocks/author-profile/view.scss
  src/blocks/donate/streamlined/index.ts
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/view.php
  src/blocks/iframe/class-wp-rest-newspack-iframe-controller.php
  src/components/query-controls.js
  tests/bootstrap.php
  tests/test-homepage-posts-block.php
  tests/test-sample.php
  tests/wp-unittestcase-blocks.php
Labels: [Status] Needs Review

#1348 fix: show HPP dates in correct timezone in editor
  includes/class-newspack-blocks-api.php
  src/blocks/carousel/edit.js
  src/blocks/homepage-articles/edit.js
Labels: bug, [Status] Approved

#1351 Feat/hpb fetch priority attr
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Approved, Performance

#1358 Release Jan 25
  .gitignore
  CHANGELOG.md
  composer.lock
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/author-profile/editor.scss
  src/blocks/author-profile/view.scss
  src/blocks/donate/streamlined/index.ts
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/view.php
  src/blocks/iframe/class-wp-rest-newspack-iframe-controller.php
  src/components/query-controls.js
  tests/bootstrap.php
  tests/test-homepage-posts-block.php
  tests/test-sample.php
  tests/wp-unittestcase-blocks.php
Labels: [Status] Approved
