Repository Automattic/newspack-blocks, pull requests merged in 2023-02, with the labels that each got.

#1363 fix: remove mark background in Newspack blocks
  src/blocks/donate/styles/view.scss
  src/blocks/homepage-articles/view.scss
Labels: [Status] Approved

#1359 Feat/donate native wc subs
  __mocks__/@stripe/stripe-js/pure/index.js
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/blocks/donate/streamlined/index.test.js
  src/blocks/donate/streamlined/index.ts
Labels: [Status] Approved, [Block] Donate

#1365 fix: attribute types for custom author fields
  src/blocks/author-list/block.json
  src/blocks/author-list/view.php
  src/blocks/author-profile/view.php
  src/blocks/shared/author.js
Labels: bug, [Status] Approved

#1372 Release Feb 15
  CHANGELOG.md
  composer.lock
  includes/class-newspack-blocks-api.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/carousel/edit.js
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
Labels: [Status] Approved

#1364 Homepage Post Block: allow HTML in custom excerpts
  includes/class-newspack-blocks.php
Labels: [Status] Approved

#1377 Homepage Post patterns: remove unneeded group & columns blocks
  src/block-patterns/homepage-posts-1.php
  src/block-patterns/homepage-posts-10.php
  src/block-patterns/homepage-posts-11.php
  src/block-patterns/homepage-posts-12.php
  src/block-patterns/homepage-posts-13.php
  src/block-patterns/homepage-posts-14.php
  src/block-patterns/homepage-posts-15.php
  src/block-patterns/homepage-posts-16.php
  src/block-patterns/homepage-posts-17.php
  src/block-patterns/homepage-posts-18.php
  src/block-patterns/homepage-posts-19.php
  src/block-patterns/homepage-posts-2.php
  src/block-patterns/homepage-posts-20.php
  src/block-patterns/homepage-posts-21.php
  src/block-patterns/homepage-posts-22.php
  src/block-patterns/homepage-posts-23.php
  src/block-patterns/homepage-posts-24.php
  src/block-patterns/homepage-posts-25.php
  src/block-patterns/homepage-posts-26.php
  src/block-patterns/homepage-posts-27.php
  src/block-patterns/homepage-posts-28.php
  src/block-patterns/homepage-posts-29.php
  src/block-patterns/homepage-posts-3.php
  src/block-patterns/homepage-posts-30.php
  src/block-patterns/homepage-posts-31.php
  src/block-patterns/homepage-posts-4.php
  src/block-patterns/homepage-posts-5.php
  src/block-patterns/homepage-posts-6.php
  src/block-patterns/homepage-posts-7.php
  src/block-patterns/homepage-posts-8.php
  src/block-patterns/homepage-posts-9.php
Labels: [Status] Approved

#1378 feat: add popup info to donation block
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/types.ts
Labels: [Status] Approved

#1355 feat(donate): checkout modal for woocommerce
  includes/class-newspack-blocks.php
  src/blocks/donate/block.json
  src/blocks/donate/checkout-modal/index.js
  src/blocks/donate/checkout-modal/view.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer.php
  src/blocks/donate/styles/view.scss
  src/blocks/donate/templates/checkout-form.php
  src/blocks/donate/view.js
  src/shared/sass/_colors.scss
  webpack.config.js
Labels: [Status] Approved, [Status] Needs Design Review

#1381 Release Feb 28
  CHANGELOG.md
  __mocks__/@stripe/stripe-js/pure/index.js
  composer.lock
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/author-list/block.json
  src/blocks/author-list/view.php
  src/blocks/author-profile/view.php
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/blocks/donate/streamlined/index.test.js
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/styles/view.scss
  src/blocks/homepage-articles/view.scss
  src/blocks/shared/author.js
Labels: [Status] Approved
