Repository Automattic/newspack-blocks, pull requests merged in 2023-06, with the labels that each got.

#1461 fix(checkout-button): overlay class for modal stacking
  src/modal-checkout/modal.js
  src/modal-checkout/modal.scss
Labels: [Status] Approved

#1454 Add custom taxonomies support
  includes/class-newspack-blocks.php
  src/blocks/carousel/edit.js
  src/blocks/carousel/index.js
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.php
  src/components/query-controls.js
  src/types/index.d.ts
Labels: [Status] Approved

#1463 feat(modal-checkout): always use donation billing fields
  includes/class-modal-checkout.php
Labels: [Status] Approved

#1473 Release Jun 19
  CHANGELOG.md
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/carousel/edit.js
  src/blocks/carousel/index.js
  src/blocks/carousel/view.php
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.php
  src/components/query-controls.js
  src/types/index.d.ts
Labels: [Status] Approved

#1480 feat: display purchase details in checkout modal when taxes are enabled
  src/modal-checkout/checkout.scss
  src/modal-checkout/templates/checkout-form.php
Labels: [Status] Approved

#1479 fix(donate-block): allow spaces in button label
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/styles/editor.scss
  src/blocks/donate/tiers-based/style.scss
Labels: bug, [Status] Approved

#1482 Change default behavior of Homepage Posts and Carousel blocks to include posts in subcategories
  includes/class-newspack-blocks.php
  src/blocks/carousel/edit.js
  src/blocks/carousel/index.js
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/utils.ts
  src/components/query-controls.js
Labels: [Status] Needs Review

#1487 chore: fix remaining lint from #1482
  includes/class-newspack-blocks.php
  src/blocks/carousel/index.js
Labels: [Status] Approved

#1485 feat(modal-checkout): render order details under different conditions
  includes/class-modal-checkout.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
  src/modal-checkout/templates/checkout-form.php
Labels: [Status] Approved

#1488 feat(modal-checkout): render order details under a set of conditions
  includes/class-modal-checkout.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
  src/modal-checkout/templates/checkout-form.php
Labels: [Status] Approved
