Repository Automattic/newspack-blocks, pull requests merged in 2024-09, with the labels that each got.

#1859 fix(ras-acc) handle recaptcha submit errors
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1864 fix(ras-acc): smoother modal transitions
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1870 fix(ras-acc): undo bad merge updates
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1873 fix(ras-acc): remove unneeded aria-label from checkout-button
  src/blocks/checkout-button/view.php
Labels: [Status] Approved, ras-acc testing

#1872 fix (ras-acc): make processing class unique to avoid clashes
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
  src/modal-checkout/modal.js
  src/modal-checkout/modal.scss
Labels: [Status] Approved, ras-acc testing

#1871 fix(ras-acc): performance enhancements and small fixes
  includes/class-modal-checkout.php
  src/modal-checkout/modal.js
  src/modal-checkout/utils.js
Labels: [Status] Approved, ras-acc testing

#1874 fix(ras-acc): use config flag to skip auth newsletters signup
  includes/class-modal-checkout.php
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1875 fix(ras-acc): ensure order review table is always unblocked when visible
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1819 feat(ras-acc): add GA4 events to modal checkout (redo)
  includes/class-modal-checkout.php
  includes/tracking/class-data-events.php
  newspack-blocks.php
  src/blocks/checkout-button/view.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/modal-checkout/analytics/ga4/checkout-attempt.js
  src/modal-checkout/analytics/ga4/dismissed.js
  src/modal-checkout/analytics/ga4/loaded.js
  src/modal-checkout/analytics/ga4/opened.js
  src/modal-checkout/analytics/ga4/pagination.js
  src/modal-checkout/analytics/ga4/utils/index.js
  src/modal-checkout/analytics/index.js
  src/modal-checkout/index.js
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1879 fix: add styles for the test CC number
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1880 fix (ras-acc): add styles for terms and conditions
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1869 fix: support new is_my_account() method from main plugin
  includes/class-modal-checkout.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer.php
Labels: [Status] Approved

#1883 fix(modal-checkout): tweak HTML to satisfy Woo Payments field validation
  src/modal-checkout/templates/checkout-form.php
Labels: [Status] Approved

#1881 fix (ras-acc): prevent NYP, coupon submission from clearing credit card fields
  includes/class-modal-checkout.php
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1885 fix(ras-acc): respect cart coupons on nyp submit
  includes/class-modal-checkout.php
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1845 feat(homepage-posts): infinite scroll
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/view.js
  src/blocks/homepage-articles/view.php
  src/types/index.d.ts
Labels: [Status] Needs Review

#1887 fix(ras-acc): apply wp-block-button class to checkout buttons
  src/blocks/checkout-button/view.php
Labels: [Status] Approved, ras-acc testing

#1886 feat(homepage-posts): add a show-full-content attribute
  includes/class-newspack-blocks-api.php
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.ts
  src/types/index.d.ts
Labels: [Status] Approved
