Repository Automattic/newspack-blocks, pull requests merged in 2024-02, with the labels that each got.

#1649 feat(modal-checkout): update thank you page with new newspack ui
  includes/class-modal-checkout.php
  src/blocks/checkout-button/block.json
  src/blocks/donate/block.json
  src/modal-checkout/checkout.scss
  src/modal-checkout/modal.js
  src/modal-checkout/modal.scss
  src/modal-checkout/templates/thankyou.php
Labels: [Status] Approved

#1656 feat(ci): add `epic/*` release workflow and rename `master` to `trunk`
  .circleci/config.yml
  .hooks/pre-push
  package-lock.json
  package.json
Labels: [Status] Approved, [Type] Infrastructure

#1653 feat(modal-checkout): update modal checkout checkout form with newspack ui
  includes/class-modal-checkout.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
  src/modal-checkout/modal.js
  src/modal-checkout/modal.scss
  src/modal-checkout/templates/form-checkout.php
  src/modal-checkout/templates/form-coupon.php
  src/modal-checkout/templates/form-gift-subscription.php
  src/modal-checkout/templates/payment-method.php
  src/modal-checkout/templates/thankyou.php
Labels: [Status] Approved

#1645 feat(reader-revenue): make NYP and Stripe Gateway optional
  includes/class-modal-checkout.php
  includes/class-newspack-blocks.php
  src/blocks/checkout-button/edit.js
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/edit/index.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/styles/style-variations.scss
  src/blocks/donate/styles/view.scss
  src/blocks/donate/tiers-based/style.scss
  src/blocks/donate/utils.ts
  src/types/index.d.ts
Labels: [Status] Approved

#1667 fix: properly handle states when Country field is disabled
  src/modal-checkout/templates/checkout-form.php
Labels: [Status] Approved

#1666 fix: prevent error in modal-checkout check
  includes/class-modal-checkout.php
Labels: [Status] Approved

#1660 feat(modal-checkout): integrate auth flow into modal checkout
  includes/class-modal-checkout.php
  src/blocks/checkout-button/save.js
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
  src/modal-checkout/modal.js
Labels: [Status] Approved

#1673 fix: handle inactive woocommerce
  includes/class-newspack-blocks.php
Labels: [Status] Approved

#1671 fix(hpp): filter invalid autocomplete tokens
  src/blocks/homepage-articles/utils.ts
  src/components/autocomplete-tokenfield.js
Labels: [Status] Approved

#1675 Release Feb 20
  .circleci/config.yml
  .hooks/pre-push
  CHANGELOG.md
  __mocks__/@stripe/stripe-js/pure/index.js
  composer.lock
  includes/class-modal-checkout.php
  includes/class-newspack-blocks.php
  languages/newspack-blocks-de_DE.po
  languages/newspack-blocks-es_ES.po
  languages/newspack-blocks-fr_BE.po
  languages/newspack-blocks-pt_PT.po
  languages/newspack-blocks.pot
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/checkout-button/edit.js
  src/blocks/donate/block.json
  src/blocks/donate/class-wp-rest-newspack-donate-controller.php
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/edit/components/AdditionalFields.tsx
  src/blocks/donate/edit/components/index.tsx
  src/blocks/donate/edit/index.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer.php
  src/blocks/donate/streamlined/index.test.js
  src/blocks/donate/streamlined/index.ts
  src/blocks/donate/streamlined/style.scss
  src/blocks/donate/streamlined/utils.test.js
  src/blocks/donate/streamlined/utils.ts
  src/blocks/donate/styles/editor.scss
  src/blocks/donate/styles/style-variations.scss
  src/blocks/donate/styles/view.scss
  src/blocks/donate/tiers-based/style.scss
  src/blocks/donate/tiers-based/utils.test.js
  src/blocks/donate/tiers-based/utils.ts
  src/blocks/donate/tiers-based/view.test.js
  src/blocks/donate/tiers-based/view.ts
  src/blocks/donate/types.ts
  src/blocks/donate/utils.ts
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.php
  src/components/query-controls.js
  src/modal-checkout/checkout.scss
  src/types/index.d.ts
  webpack.config.js
Labels: [Status] Approved

#1677 Release Feb 20
  includes/class-newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/homepage-articles/utils.ts
  src/components/autocomplete-tokenfield.js
Labels: [Status] Needs Review

#1672 fix(author-blocks): handle HTML in author bio
  src/blocks/author-profile/single-author.js
Labels: [Status] Approved

#1681 fix: avoid use of @wordpress modules on front-end
  includes/class-modal-checkout.php
  src/modal-checkout/modal.js
Labels: [Status] Approved, [Priority] Low

#1682 fix: donate block layout for NRH
  includes/class-modal-checkout.php
  includes/class-newspack-blocks.php
  src/blocks/donate/styles/editor.scss
  src/blocks/donate/styles/style-variations.scss
  src/blocks/donate/styles/view.scss
  src/blocks/donate/utils.ts
Labels: [Status] Approved, regression
