Repository Automattic/newspack-blocks, pull requests merged in 2024-10, with the labels that each got.

#1878 Fix homepage-articles block not parsing nested inner blocks
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.ts
Labels: [Status] Approved, [Block] Homepage Posts, [Type] Bug

#1897 Release Oct 08
  composer.json
  composer.lock
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks-caching.php
  languages/newspack-blocks-nb_NO.mo
  languages/newspack-blocks-nb_NO.po
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.js
  src/blocks/homepage-articles/view.php
  src/types/index.d.ts
Labels: [Status] Approved

#1898 hotfix: re-add block caching
  newspack-blocks.php
Labels: [Status] Needs Review

#1900 fix: potential fatal with invalid attribute combo
  includes/class-modal-checkout.php
Labels: [Status] Approved

#1899 fix(block-caching): only serve from cache if all blocks are cached
  includes/class-newspack-blocks-caching.php
Labels: [Status] Approved

#1902 Fix/hyperallergic empty cart modal checkout
  includes/class-modal-checkout.php
Labels: [Status] Approved, ras-acc testing

#1896 fix(modal-checkout): optimize iframe load and refactor anonymous cart generation
  includes/class-modal-checkout.php
  src/modal-checkout/index.js
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1903 fix: deprecate video playlist block
  includes/class-newspack-blocks.php
  src/blocks/video-playlist/edit.js
  src/blocks/video-playlist/editor.js
  src/blocks/video-playlist/editor.scss
  src/blocks/video-playlist/index.js
  src/blocks/video-playlist/view.php
Labels: [Status] Approved

#1905 fix(modal-checkout): move checkout_error trigger
  includes/class-modal-checkout.php
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1906 fix(modal-checkout): tweak Woo Payments behavior
  includes/class-modal-checkout.php
  src/modal-checkout/index.js
Labels: [Status] Approved

#1907 fix(ras-acc): prevent iframeobserving from observing empty container
  src/blocks/donate/tiers-based/view.ts
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1909 fix: add select2 to whitelisted scripts
  includes/class-modal-checkout.php
Labels: [Status] Approved, ras-acc testing

#1908 fix(modal-checkout): handle auth modal analytics
  includes/class-modal-checkout.php
  src/modal-checkout/analytics/ga4/dismissed.js
  src/modal-checkout/analytics/ga4/opened.js
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1910 fix(ras-acc): apply terms and conditions styles
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1912 fix(ras-acc): handle recaptcha v2 errors
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1916 fix: add check if product can be purchased
  src/blocks/checkout-button/edit.js
  src/blocks/checkout-button/view.php
Labels: [Status] Approved, ras-acc testing

#1918 fix: check for purchaseable products merged from trunk
  package-lock.json
  package.json
  src/blocks/checkout-button/edit.js
  src/blocks/checkout-button/view.php
Labels: [Status] Approved, ras-acc testing

#1919 Enqueue carousel style when caching
  includes/class-newspack-blocks-caching.php
Labels: [Status] Approved

#1917 fix: add styles for create account checkmark
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1920 fix: update block classes for the site editor
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#1924 fix: revert check for is product purchaseable
  src/blocks/checkout-button/edit.js
  src/blocks/checkout-button/view.php
Labels: [Status] Approved

#1923 fix(modal-checkout): empty cart when modal checkout is abandoned
  includes/class-modal-checkout.php
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1921 fix(modal-checkout): disable Continue button until JS is loaded
  src/modal-checkout/index.js
  src/modal-checkout/templates/checkout-form.php
Labels: [Status] Approved

#1922 fix: override some common Custom CSS issues
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1915 fix: let "Cover fees" checkbox work with any payment method
  includes/class-modal-checkout.php
  src/modal-checkout/templates/payment-method.php
Labels: [Status] Approved

#1926 feat(hpb): remove blocks caching feature flag
  includes/class-newspack-blocks-caching.php
Labels: [Status] Approved

#1925 fix: rework approach of removing invalid products from Checkout Block
  src/blocks/checkout-button/edit.js
  src/blocks/checkout-button/view.php
Labels: [Status] Approved, ras-acc testing

#1927 Release Oct 28
  includes/class-modal-checkout.php
  includes/class-newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/homepage-articles/store.js
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.php
  src/blocks/video-playlist/edit.js
  src/blocks/video-playlist/editor.js
  src/blocks/video-playlist/editor.scss
  src/blocks/video-playlist/index.js
  src/blocks/video-playlist/view.php
Labels: [Status] Approved

#1929 Dont cache blocks for staff
  includes/class-newspack-blocks-caching.php
Labels: [Status] Approved

#1930 fix: remove expensive query before registering video playlist block
  includes/class-newspack-blocks.php
  src/blocks/video-playlist/editor.js
  src/blocks/video-playlist/view.php
Labels: [Status] Approved

#1933 Lower block cache time to 2 minutes by default
  includes/class-newspack-blocks-caching.php
Labels: [Status] Approved

#1932 fix: don't allow NYP products with no prices
  includes/class-modal-checkout.php
  src/blocks/checkout-button/view.php
Labels: [Status] Approved, ras-acc testing

#1931 feat(modal-checkout): only prompt registration when required registration option is set
  includes/class-modal-checkout.php
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1935 fix: name branch correctly
  includes/class-newspack-blocks-caching.php
Labels: [Status] Approved
