Repository Automattic/newspack-blocks, pull requests merged in 2024-11, with the labels that each got.

#1936 fix(modal-checkout): use new privacy policy text option
  includes/class-modal-checkout.php
Labels: [Status] Approved, ras-acc testing

#1941 fix(modal-checkout): use post checkout text option to populate thank you page text
  includes/class-modal-checkout.php
  src/modal-checkout/templates/thankyou.php
Labels: [Status] Approved, ras-acc testing

#1942 chore: add changelog github workflow
  .github/labeler.yml
  .github/workflows/changelog.yml
Labels: [Status] Approved

#1944 Release Nov 11
  newspack-blocks.php
  package-lock.json
  package.json
  src/modal-checkout/index.js
  src/modal-checkout/templates/checkout-form.php
Labels: [Status] Approved

#1946 feat: add README for the modal checkout GA4 tracking
  src/modal-checkout/analytics/ga4/README.md
Labels: [Status] Approved, ras-acc testing

#1949 fix(modal-checkout): prevent inital page submit event propagation
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1950 fix(modal-checkout): correctly generate tiered donation price summaries
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1948 chore: update blocks with block.json to apiVersion 3
  src/blocks/author-list/block.json
  src/blocks/author-profile/block.json
  src/blocks/checkout-button/block.json
  src/blocks/donate/block.json
  src/blocks/homepage-articles/block.json
  src/blocks/iframe/block.json
  src/components/query-controls.js
Labels: [Status] Approved, [Type] Infrastructure

#1951 fix(modal-checkout): apply margin to after form rows added via after billing fields hook
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1952 fix: terms and conditions checkmark
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1953 fix: correct spacing of under-Stripe checkmarks
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1957 fix: make sure separate error messages stack
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1956 fix: correct grid layout for credit card picker edgecase
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1958 fix: correct Link icon placement
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1959 fix(modal-checkout): account for empty space in error message response
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1960 fix(modal-checkout): make price string check more explicit
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1853 feat(donate-block): hide buttons if only one frequency is available
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/styles/view.scss
  src/blocks/donate/utils.ts
  src/blocks/donate/view.js
  src/blocks/donate/view.ts
  webpack.config.js
Labels: [Status] Approved

#1943 feat(homepage-articles): rename block and reorganise settings
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/utils.ts
  src/components/autocomplete-tokenfield.js
  src/components/autocomplete-tokenfield.scss
  src/components/editor-panels.js
  src/components/query-controls.js
Labels: [Status] Approved

#1955 feat: submit checkout form on "Enter" keypress
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1954 fix: also search for coauthor posts by term slug
  includes/class-newspack-blocks.php
  tests/test-homepage-posts-block.php
  tests/wp-unittestcase-blocks.php
Labels: [Status] Approved

#1964 Hotfix/hpp find coauthors posts
  includes/class-newspack-blocks.php
  tests/test-homepage-posts-block.php
  tests/wp-unittestcase-blocks.php
Labels: [Status] Approved

#1965 chore: remove dependabot pulls from changelog workflow
  .github/workflows/changelog.yml
Labels: [Status] Approved

#1969 feat: add Bluesky support to the Author Profile, List blocks
  src/blocks/author-profile/class-wp-rest-newspack-authors-controller.php
Labels: [Status] Approved

#1971 fix: revert "feat(homepage-articles): rename block and reorganise settings (#1943)"
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/index.js
  src/blocks/homepage-articles/utils.ts
  src/components/autocomplete-tokenfield.js
  src/components/autocomplete-tokenfield.scss
  src/components/editor-panels.js
  src/components/query-controls.js
Labels: [Status] Approved

#1972 Release Nov 25
  .github/labeler.yml
  .github/workflows/changelog.yml
  .github/workflows/main.yml
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/author-list/block.json
  src/blocks/author-profile/block.json
  src/blocks/author-profile/class-wp-rest-newspack-authors-controller.php
  src/blocks/checkout-button/block.json
  src/blocks/donate/block.json
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/styles/view.scss
  src/blocks/donate/utils.ts
  src/blocks/donate/view.js
  src/blocks/donate/view.ts
  src/blocks/homepage-articles/block.json
  src/blocks/iframe/block.json
  src/components/query-controls.js
  webpack.config.js
Labels: [Status] Approved

#1961 fix: improve appearance of password in modal checkout
  includes/class-modal-checkout.php
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, [Status] Needs Design Review, ras-acc testing

#1934 feat: add support for Newspack Guest Contributor in HPP blocks
  includes/class-newspack-blocks.php
  src/blocks/author-profile/class-wp-rest-newspack-authors-controller.php
  tests/test-homepage-posts-block.php
Labels: [Status] Approved

#1970 fix: correct some minor visual issues (spacing mostly)
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1976 fix(modal-checkout): allow metorik scripts
  includes/class-modal-checkout.php
Labels: [Status] Approved

#1975 fix: correct spacing around AutomateWoo opt-in
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1978 fix(ras-acc): remove space caused by empty divs
  src/modal-checkout/checkout.scss
Labels: [Status] Needs Review, ras-acc testing

#1979 fix(ras-acc): fix display issues with Additional Fields
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1980 fix(ras-acc): correct spacing issue around saved credit cards
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, [Status] Needs Design Review, ras-acc testing
