Repository Automattic/newspack-blocks, pull requests merged in 2024-06, with the labels that each got.

#1737 feat(ras-acc): add standalone newsletter signup form
  includes/class-modal-checkout.php
  src/modal-checkout/index.js
  src/modal-checkout/modal.js
  src/modal-checkout/templates/thankyou.php
  src/modal-checkout/utils.js
Labels: [Status] Approved

#1755 feat(donate): add setting to change the style of tiered donations
  src/blocks/donate/block.json
  src/blocks/donate/edit/index.tsx
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-base.php
  src/blocks/donate/styles/style-variations.scss
  src/blocks/donate/styles/view.scss
  src/blocks/donate/tiers-based/style.scss
  src/blocks/donate/types.ts
Labels: [Status] Approved

#1757 fix(ras-acc): copy over modal-specific styles
  includes/class-modal-checkout.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/modal.js
  src/modal-checkout/modal.scss
Labels: [Status] Needs Review

#1763 fix(ras-acc): hide NYP on billing screen
  src/modal-checkout/index.js
Labels: [Status] Approved

#1761 fix(ras-acc): add extra check for iframe for spinner visibility
  src/modal-checkout/modal.js
Labels: [Status] Approved

#1762 fix(ras-acc): tweak billing, shipping columns styles
  includes/class-modal-checkout.php
  src/modal-checkout/checkout.scss
Labels: [Status] Approved

#1751 fix(ras-acc): add product summary card to auth flow
  includes/class-modal-checkout.php
  includes/class-newspack-blocks.php
  src/blocks/checkout-button/index.js
  src/blocks/checkout-button/view.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/tiers-based/view.ts
  src/modal-checkout/modal.js
  src/modal-checkout/modal.scss
  src/modal-checkout/utils.js
Labels: [Status] Needs Review

#1775 fix(ras-acc): update shipping details header
  src/modal-checkout/index.js
Labels: [Status] Approved

#1764 fix(ras-acc): adjust nyp suggested price variation modal markup
  includes/class-modal-checkout.php
  src/modal-checkout/modal.js
  src/modal-checkout/modal.scss
Labels: [Status] Approved

#1769 fix(block-styles): make sure columns style targets direct children
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
Labels: [Status] Approved, [Type] Bug

#1770 fix(block-styles): columns shouldn't enforce gap for block themes
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
Labels: [Status] Approved, [Type] Bug

#1778 feat: ensure regenerator-runtime is available (for WP 6.6)
  webpack.config.js
Labels: [Status] Approved

#1754 feat(ras-acc) add welcome email template for checkout registration
  includes/class-modal-checkout.php
  src/modal-checkout/index.js
  src/modal-checkout/modal.js
Labels: [Status] Approved

#1777 feat(checkout-button): add wp-block-button to the wrapperclasses
  src/blocks/checkout-button/save.js
Labels: [Status] Approved

#1744 feat: add support for reCAPTCHA v2
  src/blocks/donate/edit/index.tsx
Labels: [Status] Approved

#1771 fix(ras-acc): don't show phone field when it's not enabled
  includes/class-modal-checkout.php
Labels: [Status] Approved

#1782 fix(ras-acc): Update checkout modal title on successful transaction
  includes/class-modal-checkout.php
  src/modal-checkout/modal.js
Labels: [Status] Approved

#1781 fix(ras-acc): adjust thankyou modal sizing
  src/modal-checkout/modal.js
Labels: [Status] Approved
