Repository Automattic/newspack-blocks, pull requests merged in 2024-08, with the labels that each got.

#1821 fix: update error styles for coupons, NYP
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1820 fix(ras-acc): adjust font size of important order review table entries
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1774 fix: update dependencies to avoid conflict in WP 6.6
  .gitignore
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  composer.json
  composer.lock
  includes/class-modal-checkout.php
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  package-lock.json
  package.json
  phpcs.xml
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
  src/block-styles/core/group/editor.scss
  src/block-styles/core/group/view.scss
  src/blocks/author-list/class-wp-rest-newspack-author-list-controller.php
  src/blocks/author-list/edit.js
  src/blocks/author-list/editor.scss
  src/blocks/author-profile/editor.scss
  src/blocks/author-profile/view.scss
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.scss
  src/blocks/checkout-button/edit.scss
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/styles/editor.scss
  src/blocks/donate/styles/style-variations.scss
  src/blocks/donate/styles/view.scss
  src/blocks/donate/tiers-based/slider.ts
  src/blocks/donate/tiers-based/style.scss
  src/blocks/donate/utils.ts
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.scss
  src/blocks/iframe/editor.scss
  src/blocks/iframe/iframe-placeholder.js
  src/blocks/video-playlist/editor.scss
  src/blocks/video-playlist/view.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/modal.scss
  src/setup/editor.scss
  src/shared/sass/_colors.scss
  src/shared/sass/_mixins.scss
  src/shared/sass/_placeholder.scss
  webpack.config.js
Labels: [Status] Needs Review, dependencies

#1804 feat: add context to log
  includes/class-modal-checkout.php
Labels: [Status] Approved

#1832 fix (ras-acc): improve error styles
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1827 chore: rename subscribe contact method
  includes/class-modal-checkout.php
Labels: [Status] Approved

#1835 fix (ras-acc): update spacing, breaks for credit card info
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1834 fix(ras-acc): update max-height for modals
  src/modal-checkout/modal.scss
Labels: [Status] Approved, [Status] Needs Design Review, ras-acc testing

#1837 fix(ras-acc): merge trunk into epic/ras-acc
  .gitignore
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  composer.json
  composer.lock
  includes/class-modal-checkout.php
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  package-lock.json
  package.json
  phpcs.xml
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
  src/block-styles/core/group/editor.scss
  src/block-styles/core/group/view.scss
  src/blocks/author-list/class-wp-rest-newspack-author-list-controller.php
  src/blocks/author-list/edit.js
  src/blocks/author-list/editor.scss
  src/blocks/author-profile/editor.scss
  src/blocks/author-profile/view.scss
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.scss
  src/blocks/checkout-button/edit.scss
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/styles/editor.scss
  src/blocks/donate/styles/style-variations.scss
  src/blocks/donate/styles/view.scss
  src/blocks/donate/tiers-based/slider.ts
  src/blocks/donate/tiers-based/style.scss
  src/blocks/donate/utils.ts
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.scss
  src/blocks/iframe/editor.scss
  src/blocks/iframe/iframe-placeholder.js
  src/blocks/video-playlist/editor.scss
  src/blocks/video-playlist/view.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/modal.scss
  src/setup/editor.scss
  src/shared/sass/_colors.scss
  src/shared/sass/_mixins.scss
  src/shared/sass/_placeholder.scss
  webpack.config.js
Labels: [Status] Approved, ras-acc testing

#1822 fix(homepage-posts): honor allowing duplicates in load-more
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
Labels: [Status] Approved

#1823 fix(ras-acc): only trigger update_checkout event on validation
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1836 Epic/consolidate data flows
  includes/class-modal-checkout.php
Labels: [Status] Approved

#1838 Release Aug 12
  .gitignore
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  composer.json
  composer.lock
  includes/class-modal-checkout.php
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  newspack-blocks.php
  package-lock.json
  package.json
  phpcs.xml
  src/block-styles/core/columns/editor.scss
  src/block-styles/core/columns/view.scss
  src/block-styles/core/group/editor.scss
  src/block-styles/core/group/view.scss
  src/blocks/author-list/class-wp-rest-newspack-author-list-controller.php
  src/blocks/author-list/edit.js
  src/blocks/author-list/editor.scss
  src/blocks/author-profile/editor.scss
  src/blocks/author-profile/view.scss
  src/blocks/carousel/create-swiper.js
  src/blocks/carousel/edit.js
  src/blocks/carousel/editor.scss
  src/blocks/carousel/view.scss
  src/blocks/checkout-button/edit.scss
  src/blocks/donate/edit/FrequencyBasedLayout.tsx
  src/blocks/donate/edit/TierBasedLayout.tsx
  src/blocks/donate/frequency-based/style.scss
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-frequency-based.php
  src/blocks/donate/frontend/class-newspack-blocks-donate-renderer-tiers-based.php
  src/blocks/donate/styles/editor.scss
  src/blocks/donate/styles/style-variations.scss
  src/blocks/donate/styles/view.scss
  src/blocks/donate/tiers-based/slider.ts
  src/blocks/donate/tiers-based/style.scss
  src/blocks/donate/utils.ts
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/editor.scss
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.scss
  src/blocks/iframe/editor.scss
  src/blocks/iframe/iframe-placeholder.js
  src/blocks/video-playlist/editor.scss
  src/blocks/video-playlist/view.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/modal.scss
  src/setup/editor.scss
  src/shared/sass/_colors.scss
  src/shared/sass/_mixins.scss
  src/shared/sass/_placeholder.scss
  webpack.config.js
Labels: [Status] Needs Review

#1842 fix(ras-acc): check for checkout button inputs before appending
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1760 feat(ras-acc): keyboard navigation improvements
  includes/class-modal-checkout.php
  src/modal-checkout/accessibility.js
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
  src/modal-checkout/modal.js
  src/modal-checkout/templates/thankyou.php
Labels: [Status] Approved, ras-acc testing

#1843 fix(ras-acc): add styles for single country displayed
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1851 fix(ras-acc): replace express payment 'or' styles
  includes/class-modal-checkout.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1852 fix: correct font family
  src/modal-checkout/checkout.scss
Labels: [Status] Approved, ras-acc testing

#1841 feat(ras-acc): add url param modal checkout triggers
  includes/class-modal-checkout.php
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1854 Release Aug 26
  composer.json
  composer.lock
  includes/class-modal-checkout.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
Labels: [Status] Needs Review

#1847 fix(ras-acc): handle modal checkout cart errors
  includes/class-modal-checkout.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
Labels: [Status] Approved, [Status] Needs Design Review, ras-acc testing

#1811 fix: reCAPTCHA v2 + v3 for RAS-ACC flows
  includes/class-modal-checkout.php
  src/modal-checkout/index.js
  src/modal-checkout/templates/form-checkout.php
Labels: [Status] Approved, ras-acc testing

#1855 fix(ras-acc): don't close modal when redirecting
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing

#1772 Block caching
  includes/class-newspack-blocks-caching.php
  newspack-blocks.php
Labels: [Status] Needs Review

#1858 fix(ras-acc): update limited subscription cart error and modal layout
  includes/class-modal-checkout.php
  src/modal-checkout/checkout.scss
  src/modal-checkout/index.js
Labels: [Status] Approved, ras-acc testing

#1861 fix(ras-acc): ensure variable modal added to ras overlays
  src/modal-checkout/modal.js
Labels: [Status] Approved, ras-acc testing
