Repository Automattic/newspack-blocks, pull requests merged in 2024-03, with the labels that each got.

#1680 fix: correct carousel button styles in editor
  src/blocks/carousel/edit.js
Labels: [Status] Approved

#1684 Release Mar 04
  CHANGELOG.md
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/author-profile/single-author.js
Labels: [Status] Approved

#1683 fix(modal-checkout): ensure customer location when state is required but country is not
  includes/class-modal-checkout.php
Labels: [Status] Approved

#1687 fix: show credit option for homepage posts & carousel blocks
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  src/blocks/carousel/edit.js
  src/blocks/carousel/index.js
  src/blocks/carousel/view.php
  src/blocks/carousel/view.scss
  src/blocks/homepage-articles/block.json
  src/blocks/homepage-articles/edit.js
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.ts
  src/blocks/homepage-articles/view.php
  src/blocks/homepage-articles/view.scss
  src/types/index.d.ts
Labels: [Status] Approved, [Status] Design Approved

#1688 fix(author-profile): only display guest author profile when linked
  src/blocks/author-profile/class-wp-rest-newspack-authors-controller.php
Labels: [Status] Approved

#1662 HPB: support for The Events Calendar events
  .eslintrc.js
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  includes/plugins/class-the-events-calendar.php
  newspack-blocks.php
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.ts
  src/components/editor-panels.js
  src/types/index.d.ts
Labels: [Status] Needs Review

#1690 fix: add encoding to all attributes in rest URL
  src/blocks/homepage-articles/view.php
Labels: [Status] Approved

#1692 Release Mar 19
  .eslintrc.js
  CHANGELOG.md
  composer.lock
  includes/class-modal-checkout.php
  includes/class-newspack-blocks-api.php
  includes/class-newspack-blocks.php
  includes/plugins/class-the-events-calendar.php
  newspack-blocks.php
  package-lock.json
  package.json
  src/blocks/author-profile/class-wp-rest-newspack-authors-controller.php
  src/blocks/carousel/edit.js
  src/blocks/homepage-articles/edit.tsx
  src/blocks/homepage-articles/templates/article.php
  src/blocks/homepage-articles/utils.ts
  src/components/editor-panels.js
  src/types/index.d.ts
Labels: [Status] Approved

#1697 fix(hpp): translate dates in hpp block posts
  includes/class-newspack-blocks.php
Labels: [Status] Approved
