Repository Automattic/newspack-blocks, pull requests merged in 2025-09, with the labels that each got.

#2195 fix(donate): modern style variation wrong border-radius
  src/blocks/donate/styles/style-variations.scss
Labels: [Status] Needs Review

#2196 fix(checkout-button): editor width settings
  src/blocks/checkout-button/edit.scss
  src/blocks/checkout-button/view.scss
Labels: [Status] Needs Review

#2207 fix(checkout-button): editor's align center
  src/blocks/checkout-button/edit.scss
Labels: [Status] Approved

#2201 feat(checkout-button): grouped product support
  includes/class-modal-checkout.php
  includes/modal-checkout/class-checkout-data.php
  src/blocks/checkout-button/view.php
  src/modal-checkout/modal.js
Labels: [Status] Approved, [Status] Design Approved

#2214 fix: clarify NRH dependency for Campaign ID sidebar attribute
  src/blocks/donate/edit/index.tsx
Labels: [Status] Approved

#2202 feat: better error messages for limited products
  includes/class-modal-checkout.php
Labels: [Status] Approved

#2216 fix(modal-checkout): handling of tiered donation block
  includes/modal-checkout/class-checkout-data.php
  src/modal-checkout/modal.js
Labels: [Status] Needs Review
